.sprite-4e, .sprite-_keep, .sprite-add_comment, .sprite-arrow_left, .sprite-arrow_left_black, .sprite-arrow_right, .sprite-arrow_right_black, .sprite-birthday, .sprite-bstr, .sprite-check_black, .sprite-check_red, .sprite-close, .sprite-comment, .sprite-comment_gray, .sprite-comment_white, .sprite-copy, .sprite-down, .sprite-down_gray, .sprite-down_white, .sprite-dstr, .sprite-dstr1, .sprite-film_left, .sprite-film_right, .sprite-follow, .sprite-footer_li, .sprite-header_social1, .sprite-header_social2, .sprite-header_social3, .sprite-header_social4, .sprite-header_social5, .sprite-header_social6, .sprite-home, .sprite-location, .sprite-logo, .sprite-logout, .sprite-logout_black, .sprite-mail_red, .sprite-mail_white, .sprite-menu, .sprite-menu_hover, .sprite-message_send, .sprite-money, .sprite-n1, .sprite-n2, .sprite-n3, .sprite-n4, .sprite-news_button1, .sprite-news_button2, .sprite-plus, .sprite-plus_gray, .sprite-prem, .sprite-prem_l, .sprite-prem_ll, .sprite-prem_p, .sprite-profile, .sprite-remove, .sprite-remove1, .sprite-rstr, .sprite-s1, .sprite-s2, .sprite-s3, .sprite-s4, .sprite-s5, .sprite-save, .sprite-search, .sprite-so1, .sprite-so2, .sprite-so3, .sprite-so4, .sprite-so5, .sprite-soc1, .sprite-soc2, .sprite-soc3, .sprite-soc4, .sprite-tag, .sprite-time, .sprite-time_big, .sprite-time_black, .sprite-up, .sprite-up_gray, .sprite-up_white, .sprite-user, .sprite-user_gray, .sprite-user_gray1, .sprite-video, .sprite-view, .sprite-view_gray, .sprite-write {
    background: url("../images/sprite.png") no-repeat;
}

.sprite-4e {
    width: 23px;
    height: 22px;
    background-position: 0 0;
}

.sprite-_keep {
    width: 1px;
    height: 1px;
    background-position: 0 -22px;
}

.sprite-add_comment {
    width: 44px;
    height: 43px;
    background-position: 0 -23px;
}

.sprite-arrow_left {
    width: 30px;
    height: 28px;
    background-position: 0 -66px;
}

.sprite-arrow_left_black {
    width: 30px;
    height: 28px;
    background-position: 0 -94px;
}

.sprite-arrow_right {
    width: 30px;
    height: 28px;
    background-position: 0 -122px;
}

.sprite-arrow_right_black {
    width: 30px;
    height: 28px;
    background-position: 0 -150px;
}

.sprite-birthday {
    width: 26px;
    height: 26px;
    background-position: 0 -178px;
}

.sprite-bstr {
    width: 13px;
    height: 10px;
    background-position: 0 -204px;
}

.sprite-check_black {
    width: 12px;
    height: 11px;
    background-position: 0 -214px;
}

.sprite-check_red {
    width: 12px;
    height: 11px;
    background-position: 0 -225px;
}

.sprite-close {
    width: 32px;
    height: 31px;
    background-position: 0 -236px;
}

.sprite-comment {
    width: 16px;
    height: 12px;
    background-position: 0 -267px;
}

.sprite-comment_gray {
    width: 16px;
    height: 12px;
    background-position: 0 -279px;
}

.sprite-comment_white {
    width: 16px;
    height: 16px;
    background-position: 0 -291px;
}

.sprite-copy {
    width: 32px;
    height: 32px;
    background-position: 0 -307px;
}

.sprite-down {
    width: 12px;
    height: 17px;
    background-position: 0 -339px;
}

.sprite-down_gray {
    width: 12px;
    height: 17px;
    background-position: 0 -356px;
}

.sprite-down_white {
    width: 12px;
    height: 17px;
    background-position: 0 -373px;
}

.sprite-dstr {
    width: 5px;
    height: 7px;
    background-position: 0 -390px;
}

.sprite-dstr1 {
    width: 10px;
    height: 9px;
    background-position: 0 -397px;
}

.sprite-film_left {
    width: 29px;
    height: 28px;
    background-position: 0 -406px;
}

.sprite-film_right {
    width: 29px;
    height: 28px;
    background-position: 0 -434px;
}

.sprite-follow {
    width: 21px;
    height: 19px;
    background-position: 0 -462px;
}

.sprite-footer_li {
    width: 9px;
    height: 9px;
    background-position: 0 -481px;
}

.sprite-header_social1 {
    width: 30px;
    height: 29px;
    background-position: 0 -490px;
}

.sprite-header_social2 {
    width: 37px;
    height: 29px;
    background-position: 0 -519px;
}

.sprite-header_social3 {
    width: 30px;
    height: 29px;
    background-position: 0 -548px;
}

.sprite-header_social4 {
    width: 33px;
    height: 29px;
    background-position: 0 -577px;
}

.sprite-header_social5 {
    width: 33px;
    height: 29px;
    background-position: 0 -606px;
}

.sprite-header_social6 {
    width: 31px;
    height: 29px;
    background-position: 0 -635px;
}

.sprite-home {
    width: 20px;
    height: 16px;
    background-position: 0 -664px;
}

.sprite-location {
    width: 20px;
    height: 20px;
    background-position: 0 -680px;
}

.sprite-logo {
    width: 274px;
    height: 50px;
    background-position: 0 -700px;
}

.sprite-logout {
    width: 16px;
    height: 16px;
    background-position: 0 -750px;
}

.sprite-logout_black {
    width: 16px;
    height: 16px;
    background-position: 0 -766px;
}

.sprite-mail_red {
    width: 28px;
    height: 22px;
    background-position: 0 -782px;
}

.sprite-mail_white {
    width: 28px;
    height: 22px;
    background-position: 0 -804px;
}

.sprite-menu {
    width: 11px;
    height: 6px;
    background-position: 0 -826px;
}

.sprite-menu_hover {
    width: 11px;
    height: 6px;
    background-position: 0 -832px;
}

.sprite-message_send {
    width: 82px;
    height: 60px;
    background-position: 0 -838px;
}

.sprite-money {
    width: 26px;
    height: 26px;
    background-position: 0 -898px;
}

.sprite-n1 {
    width: 57px;
    height: 55px;
    background-position: 0 -924px;
}

.sprite-n2 {
    width: 57px;
    height: 55px;
    background-position: 0 -979px;
}

.sprite-n3 {
    width: 57px;
    height: 55px;
    background-position: 0 -1034px;
}

.sprite-n4 {
    width: 57px;
    height: 55px;
    background-position: 0 -1089px;
}

.sprite-news_button1 {
    width: 24px;
    height: 19px;
    background-position: 0 -1144px;
}

.sprite-news_button2 {
    width: 18px;
    height: 24px;
    background-position: 0 -1163px;
}

.sprite-plus {
    width: 14px;
    height: 14px;
    background-position: 0 -1187px;
}

.sprite-plus_gray {
    width: 14px;
    height: 14px;
    background-position: 0 -1201px;
}

.sprite-prem {
    width: 45px;
    height: 30px;
    background-position: 0 -1215px;
}

.sprite-prem_l {
    width: 25px;
    height: 17px;
    background-position: 0 -1245px;
}

.sprite-prem_ll {
    width: 20px;
    height: 13px;
    background-position: 0 -1262px;
}

.sprite-prem_p {
    width: 45px;
    height: 30px;
    background-position: 0 -1275px;
}

.sprite-profile {
    width: 62px;
    height: 63px;
    background-position: 0 -1305px;
}

.sprite-remove {
    width: 10px;
    height: 10px;
    background-position: 0 -1368px;
}

.sprite-remove1 {
    width: 32px;
    height: 32px;
    background-position: 0 -1378px;
}

.sprite-rstr {
    width: 7px;
    height: 12px;
    background-position: 0 -1410px;
}

.sprite-s1 {
    width: 53px;
    height: 54px;
    background-position: 0 -1422px;
}

.sprite-s2 {
    width: 53px;
    height: 54px;
    background-position: 0 -1476px;
}

.sprite-s3 {
    width: 54px;
    height: 54px;
    background-position: 0 -1530px;
}

.sprite-s4 {
    width: 54px;
    height: 54px;
    background-position: 0 -1584px;
}

.sprite-s5 {
    width: 54px;
    height: 54px;
    background-position: 0 -1638px;
}

.sprite-save {
    width: 293px;
    height: 58px;
    background-position: 0 -1692px;
}

.sprite-search {
    width: 16px;
    height: 16px;
    background-position: 0 -1750px;
}

.sprite-so1 {
    width: 11px;
    height: 17px;
    background-position: 0 -1766px;
}

.sprite-so2 {
    width: 8px;
    height: 17px;
    background-position: 0 -1783px;
}

.sprite-so3 {
    width: 15px;
    height: 17px;
    background-position: 0 -1800px;
}

.sprite-so4 {
    width: 8px;
    height: 17px;
    background-position: 0 -1817px;
}

.sprite-so5 {
    width: 15px;
    height: 17px;
    background-position: 0 -1834px;
}

.sprite-soc1 {
    width: 29px;
    height: 19px;
    background-position: 0 -1851px;
}

.sprite-soc2 {
    width: 29px;
    height: 19px;
    background-position: 0 -1870px;
}

.sprite-soc3 {
    width: 29px;
    height: 19px;
    background-position: 0 -1889px;
}

.sprite-soc4 {
    width: 29px;
    height: 19px;
    background-position: 0 -1908px;
}

.sprite-tag {
    width: 15px;
    height: 15px;
    background-position: 0 -1927px;
}

.sprite-time {
    width: 10px;
    height: 10px;
    background-position: 0 -1942px;
}

.sprite-time_big {
    width: 29px;
    height: 29px;
    background-position: 0 -1952px;
}

.sprite-time_black {
    width: 10px;
    height: 10px;
    background-position: 0 -1981px;
}

.sprite-up {
    width: 12px;
    height: 17px;
    background-position: 0 -1991px;
}

.sprite-up_gray {
    width: 12px;
    height: 17px;
    background-position: 0 -2008px;
}

.sprite-up_white {
    width: 12px;
    height: 17px;
    background-position: 0 -2025px;
}

.sprite-user {
    width: 14px;
    height: 15px;
    background-position: 0 -2042px;
}

.sprite-user_gray {
    width: 11px;
    height: 11px;
    background-position: 0 -2057px;
}

.sprite-user_gray1 {
    width: 14px;
    height: 14px;
    background-position: 0 -2068px;
}

.sprite-video {
    width: 32px;
    height: 32px;
    background-position: 0 -2082px;
}

.sprite-view {
    width: 15px;
    height: 8px;
    background-position: 0 -2114px;
}

.sprite-view_gray {
    width: 15px;
    height: 8px;
    background-position: 0 -2122px;
}

.sprite-write {
    width: 26px;
    height: 24px;
    background-position: 0 -2130px;
}

