@import 'reset';
@import 'sprite';
@import 'functions';

i.icon {
	display: inline-block;
	&.header_social {
		&1 {@extend .sprite-header_social1;}
		&2 {@extend .sprite-header_social2;}
		&3 {@extend .sprite-header_social3;}
		&4 {@extend .sprite-header_social4;}
		&5 {@extend .sprite-header_social5;}
		&6 {@extend .sprite-header_social6;}
	}
	&.search { @extend .sprite-search; }
	&.plus { @extend .sprite-plus; }
	&.user { @extend .sprite-user; }
	&.user_gray { @extend .sprite-user_gray; margin-right: 5px; }
	&.home { @extend .sprite-home; }
	&.dot { height: 5px; width: 5px; background: #fff; vertical-align: 3px; margin: 0 10px 0 0; }
	&.footer_li { @extend .sprite-footer_li; vertical-align: 1px; margin: 0 14px 0 0; }
	&.rstr { @extend .sprite-rstr; vertical-align: -1px; }
	&.tag { @extend .sprite-tag; vertical-align: -3px; margin-right: 5px; }
	&.time { @extend .sprite-time; margin-right: 5px; }
	&.time_black { @extend .sprite-time_black; margin-right: 5px; }
	&.time_big { @extend .sprite-time_big; }
	&.comment { @extend .sprite-comment; margin-right: 5px; }
	&.comment_gray { @extend .sprite-comment_gray; margin-right: 5px; }
	&.comment_white { @extend .sprite-comment_white; margin-right: 5px; vertical-align: -3px; }
	&.arrow_left { @extend .sprite-arrow_left; }
	&.arrow_right { @extend .sprite-arrow_right; }
	&.arrow_left_black { @extend .sprite-arrow_left_black; }
	&.arrow_right_black { @extend .sprite-arrow_right_black; }
	&.up { @extend .sprite-up; vertical-align: -3px; margin-right: 8px; }
	&.up_gray { @extend .sprite-up_gray; vertical-align: -3px; margin-right: 8px; }
	&.up_white { @extend .sprite-up_white; vertical-align: -3px; margin-right: 8px; }
	&.down { @extend .sprite-down; vertical-align: -3px; margin-right: 8px; }
	&.down_gray { @extend .sprite-down_gray; vertical-align: -3px; margin-right: 8px; }
	&.down_white { @extend .sprite-down_white; vertical-align: -3px; margin-right: 8px; }
	&.view { @extend .sprite-view; margin-right: 5px; }
	&.view_gray { @extend .sprite-view_gray; margin-right: 5px; }
	&.video { @extend .sprite-video; }
	&.film_left { @extend .sprite-film_left; }
	&.film_right { @extend .sprite-film_right; }
	&.dstr { @extend .sprite-dstr; margin-left: 4px; }
	&.n1 { @extend .sprite-n1; }
	&.n2 { @extend .sprite-n2; }
	&.n3 { @extend .sprite-n3; }
	&.n4 { @extend .sprite-n4; }
	&.message_send { @extend .sprite-message_send; }
	&.news_button1 { @extend .sprite-news_button1; vertical-align: -4px; }
	&.news_button2 { @extend .sprite-news_button2; vertical-align: -4px; }
	&.profile { @extend .sprite-profile; }
	&.soc1 { @extend .sprite-soc1; }
	&.soc2 { @extend .sprite-soc2; }
	&.soc3 { @extend .sprite-soc3; }
	&.soc4 { @extend .sprite-soc4; }
	&.s1 { @extend .sprite-s1; }
	&.s2 { @extend .sprite-s2; }
	&.s3 { @extend .sprite-s3; }
	&.s4 { @extend .sprite-s4; }
	&.s5 { @extend .sprite-s5; }
	&.plus_gray { @extend .sprite-plus_gray; }
	&.user_gray1 { @extend .sprite-user_gray1; }
	&.add_comment { @extend .sprite-add_comment; }
	&.follow { @extend .sprite-follow; vertical-align: -5px; margin: 0 10px 0 0; }
	&.remove { @extend .sprite-remove; margin: 0 10px 0 0; }
	&.write { @extend .sprite-write; vertical-align: -6px; margin: 0 10px 0 0; }
	&.i4e { @extend .sprite-4e; vertical-align: -4px; margin: 0 10px 0 0; }
	&.close { @extend .sprite-close; }
	&.copy { @extend .sprite-copy; }
	&.remove1 { @extend .sprite-remove1; }
	&.mail_red { @extend .sprite-mail_red; vertical-align: -5px; margin: 0 10px 0 0; }
	&.mail_white { @extend .sprite-mail_white; vertical-align: -5px; margin: 0 10px 0 0; }
	&.money { @extend .sprite-money; vertical-align: -7px; margin: 0 10px 0 0; }
	&.location { @extend .sprite-location; vertical-align: -5px; margin: 0 13px 0 3px; }
	&.birthday { @extend .sprite-birthday; vertical-align: -6px; margin: 0 10px 0 0; }
	&.so1 { @extend .sprite-so1; }
	&.so2 { @extend .sprite-so2; }
	&.so3 { @extend .sprite-so3; }
	&.so4 { @extend .sprite-so4; }
	&.so5 { @extend .sprite-so5; }
	&.logout { @extend .sprite-logout; }
	&.logout_black { 
		@extend .sprite-logout_black; 
		&:hover {
			@extend .sprite-logout;
		}
	}
	&.dstr1 { @extend .sprite-dstr1; vertical-align: 1px !important; margin: 0 0 0 10px !important; }
	&.logo { @extend .sprite-logo; }
	&.prem { @extend .sprite-prem; }
	&.prem_p { @extend .sprite-prem_p; }
	&.prem_l { @extend .sprite-prem_l; position: absolute; bottom: 5px; right: 5px; }
	&.prem_ll { @extend .sprite-prem_ll; position: absolute; bottom: 5px; right: 5px; }
}

body {
	background: #f0f0f0;
	font: 14px/1 'PT Sans', sans-serif;
	color: #000;
	min-width: 1200px;
	textarea, input {
		font-family: 'PT Sans';
	}
	a {
		color: #000;
		text-decoration: none;
	}
	.hasCustomSelect {
		position: relative;
		z-index: 100;
	}
	.customSelect {
		width: 100%;
		background: #ffffff;
		height: 35px;
		border: none;
		display: block;
		line-height: 35px;
		font-size: 16px;
		padding: 0 17px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
		white-space: nowrap;
		position: relative;
		z-index: 95;
		&:after {
			content: ' ';
			position: absolute;
			@extend .sprite-bstr;
			right: 13px;
			top: 13px;
		}
	}
	button {
		font-family: 'PT Sans';
	}
	button.red, button.gray, button.red1 {
		background: #c01c1c;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		height: 27px;
		line-height: 27px;
		padding: 0 15px;
		overflow: hidden;
		position: relative;
	}
	button input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 110%;
		height: 110%;
		opacity: 0.01;
	}
	button.red1 {
		background: #e84c4d;
		font-weight: normal;
	}
	button.gray {
		background: #9f9f9f;
		font-weight: normal;
	}
	button.border {
		border: 1px solid #f29797;
		display: block;
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		height: 41px;
		line-height: 41px;
		text-transform: uppercase;
		color: #e84c4c;
		&.mar {
			margin: 15px 15px;
			width: 380px;
		}
		&.gr {
			color: #737373;
			border-color: #cfcfcf;
		}
	}
	button.save_profile {
		@extend .sprite-save;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
		padding: 0 0 0 93px;
		text-transform: uppercase;
		color: #fff;
		font-family: 'PT Sans';
		white-space: nowrap;
	}
	&.ovh {overflow: hidden;}
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* header & footer */
footer {
	background: #222222;
	color: #c6c6c6;
	.left {
		width: 790px;
		float: left;
		padding: 0 0 30px;
		div.logo {
			margin: 40px 0 20px 0;
			a {
				font-size: 37px;
				font-weight: bold;
				color: #e84c4c;
				span { color: #fff; }
			}
		}
		p {
			line-height: 22px;
		}
		div.social {
			font-size: 0;
			float: left;
			margin: 15px 0 0 0;
			a {
				width: 35px;
				height: 35px;
				display: block;
				float: left;
				padding: 4px 0 0 0;
				text-align: center;
				opacity: 0.6;
				&:hover { opacity: 1; }
			}
		}
	}
	.right {
		width: 310px;
		float: right;
		padding: 55px 0 0 0;
		.label {
			font-size: 18px;
			font-weight: bold;
			color: #ce4747;
			text-transform: uppercase;
			border-bottom: 1px solid #474747;
			padding: 0 0 5px;
		}
		ul {
			line-height: 22px;
			margin: 10px 0 0 0;
			li {
				a {
					color: #c6c6c6;
					font-size: 14px;
				}
			}
		}
	}
	.i18 {
		padding: 10px 0 0 0;
		font-size: 15px;
		font-weight: bold;
		color: #9e9e9e;
	}
}
.copyright {
	background: #000;
	color: #717171;
	font-size: 14px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	.wrapper { position: relative; }
	.counters {
		position: absolute;
		top: 11px;
		right: 0;
		a {
			img {
				display: block;
				float: left;
				margin: 0 3px;
			}
		}
	}
}
header {
	background: url(../images/header.png) repeat-x;
	height: 151px;
	&.c404 {
		height: 80px;
	}
	.wrapper {
		position: relative;
		z-index: 5000;
	}
	div.menu {
		background: #fff;
		border-radius: 7px;
		margin: 0px 0 0 0;
		padding: 28px 0 0 0;
		nav {
			&> li {
				float: left;
				margin: 0 30px 0 0;
				position: relative;
				padding: 0 0 15px;
				&:first-child {
					margin-left: 30px;
					margin-top: -3px;
				}
				&> a {
					font-size: 16px;
					text-transform: uppercase;
					font-weight: bold;
					white-space: nowrap;
					span { 
						display: block;
						padding: 0 0 4px;
						border-bottom: 2px solid #fff; 
					}
					i.str { 
						@extend .sprite-menu;
						vertical-align: 2px;
						margin: 0 0 0 6px;
					}
					&:hover {
						color: #e84c4c;
						i.str {
							@extend .sprite-menu_hover;
						}
						span {
							color: #e84c4c;
							border-bottom: 2px solid #e84c4c;
						}
					}
				}
				&:hover ul { display: block; }
				ul {
					position: absolute;
					top: 25px;
					left: 50%;
					margin: 0 0 0 -95px;
					min-width: 190px;
					background: #222222;
					border-top: 2px solid #e84c4c;
					padding: 5px 0 10px 0;
					display: none;
					li {
						font-size: 14px;
						text-transform: none;
						height: 30px;
						line-height: 30px;
						border-bottom: 1px solid #484848;
						position: relative;
						&:last-child { border: none; }
						&:hover {
							background: #ff4b4c;
							color: #fff;
							i.check {
								@extend .sprite-check_red;
							}
							span.sub {
								color: #fff;
							}
						}
						span.sub {
							position: absolute;
							top: 0;
							right: 13px;
							font-size: 20px;
							font-weight: bold;
							cursor: pointer;
							color: #222222;
							&.cl { color: #6e6e6e; }
						}
						i.check {
							@extend .sprite-check_black;
							float: right;
							margin: 9px 0 0 0;
						}
						a {
							white-space: nowrap;
							color: #fff;
							//display: block;
							padding: 0 15px 0 10px;
							
						}
					}
				}
			}
		}
	}
	div.logo {
		float: left;
		margin: 16px 0 0 0;
		a {
			font-size: 37px;
			font-weight: bold;
			color: #e84c4c;
			span { color: #fff; }
		}
	}
	div.social {
		font-size: 0;
		float: right;
		margin: 25px 18px 0 0;
		a {
			width: 35px;
			height: 35px;
			display: block;
			float: left;
			padding: 4px 0 0 0;
			text-align: center;
			opacity: 0.6;
			&:hover { opacity: 1; }
		}
	}
	div.user {
		float: right;
		margin: 21px 0 0 0;
		position: relative;
		padding: 0 0 23px;
		ul.dropdown {
			position: absolute;
			top: 58px;
			left: 0;
			width: 100%;
			z-index: 6700;
			background: #222222;
			border-top: 2px solid #e84c4c;
			padding: 5px 0 10px 0;
			display: none;
			li {
				font-size: 14px;
				text-transform: none;
				height: 30px;
				line-height: 30px;
				border-bottom: 1px solid #484848;
				position: relative;
				&:last-child { border: none; }
				&:hover {
					background: #ff4b4c;
					color: #fff;
					i.check {
						@extend .sprite-check_red;
					}
					span.sub {
						color: #fff;
					}
				}
				span.sub {
					position: absolute;
					top: 0;
					right: 13px;
					font-size: 20px;
					font-weight: bold;
					cursor: pointer;
					color: #222222;
					&.cl { color: #6e6e6e; }
				}
				i.check {
					@extend .sprite-check_black;
					float: right;
					margin: 9px 0 0 0;
				}
				a {
					white-space: nowrap;
					color: #fff;
					float: none;
					font-size: 14px;
					height: 30px;
					line-height: 30px;
					//display: block;
					padding: 0 15px 0 10px;
					
				}
			}
		}
		/*ul.dropdown {
			position: absolute;
			top: 57px;
			left: 0;
			z-index: 6700;
			background: #fff;
			border: 1px solid #222;
			line-height: 25px;
			padding: 5px 0;
			width: 180px;
			display: none;
			text-align: center;
			li {
				display: block;
				height: 25px;
				width: 100%;
				text-align: center;
			}
			a {
				color: #222;
				float: none;
				height: auto;
				line-height: 25px;
				font-size: 14px;
				&:hover {color: #fe6321;}
			}
		}*/
		a {
			float: left;
			height: 35px;
			font-size: 16px;
			line-height: 35px;
			color: #fff;
			border-radius: 5px;
			padding: 0 9px;
			margin: 0 0 0 6px;
			&.color {
				background: #3c3e3f;
			}
			i.icon {
				vertical-align: -1px;
				margin: 0 7px 0 0;
			}
		}
		.a {
			width: 35px;
			height: 35px;
			border-radius: 35px;
			overflow: hidden;
			float: left;
			img { width: 100%; }
		}
		.name {
			line-height: 35px;
			float: left;
			font-weight: bold;
			font-size: 16px;
			color: #fff;
			a:hover { color: #fe6321; } 
		}
		&:hover ul.dropdown {display: block;}
	}
	div.search {
		margin: 21px 54px 0 0;
		float: right;
		form {
			input {
				float: left;
				height: 35px;
				line-height: 20px;
				padding: 7.5px 0;
				font-size: 14px;
				width: 180px;
				padding: 0 11px;
				display: none;
			}
			button {
				float: left;
				height: 35px;
				width: 35px;
				background: #343434;
				text-align: center;
			}
			&.open {
				input {display: block;}
				button {background: #d35400;}
			}
		}
	}
	div.notif { 
		float: left;
		margin: 32px 0 0 40px;
		a { display: block; color: #fff; }
	}
	div.prem {
		float: left;
		margin: 27px 0 0 25px;
	}
}

/* main page */
section {
	padding: 20px 0;
	.box {
		background: #fff;
		&.pad {padding: 20px 20px 10px;}
		&.mar {margin: 0 0 20px 0;}
	}
}
.b_carusel {
	ul {
		width: 10000px;
		overflow: hidden;
		li {
			float: left;
			width: 1160px;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	.points {
		text-align: center;
		font-size: 0;
		margin: 10px 0 0 0;
		a {
			display: inline-block;
			width: 50px;
			height: 3px;
			margin: 0 3px;
			background: #999999;
			&.active { background: #e84c4c; }
		}
	}
}
.b_promo_index {
	.left {
		width: 1160px;
		float: left;
		overflow: hidden;
	}
	.right {
		float: right;
		width: 355px;
		.b_quad_box {
			float: right;
			margin: 28px 27px 0 0;
			&:nth-child(2n+1) {
				margin-right: 0;
			}
			&:nth-child(1) {margin-top: 0;}
			&:nth-child(2) {margin-top: 0;}
		}
	}
}
.b_quad_box {
	position: relative;
	width: 164px;
	height: 164px;
	img {
		display: block;
	}
	&:hover .stats {display: block;}
	.stats {
		position: absolute;
		top: 4px;
		left: 0;
		background: #272727;
		color: #fff;
		display: none;
		span { 
			font-size: 14px;
			font-weight: bold;
			color: #fff;
			float: left;
			height: 28px;
			line-height: 28px;
			text-transform: uppercase;
			background: #e84c4c;
			padding: 0 12px;
		}
		button {
			float: left;
			width: 28px;
			height: 28px;
		}
		a {
			color: #fff;
			font-size: 12px;
			line-height: 28px;
			padding: 0 0 0 12px;
			&:hover { color: #e84c4c; }
		}
	}
	span.title {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		line-height: 20px;
		padding: 10px 15px;
	}
}
.b_platform {
	
}
.b_platform_elem {
	@extend .b_quad_box;
	width: 181px;
	height: auto;
	float: left;
	margin: 21px 0 0 20px;
	.stats {
		display: block;
	}
	a.image {
		position: relative;
		display: block;
		margin: 0 0 15px;
		.stats {
			top: 7px;
		}
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
		a:hover { color: #e84c4c; }
	}
}
.b_head_box {
	.d {
		padding: 0 0 20px;
		display: none;
		z-index: 5;
		position: relative;
		&.active { display: block; }
	}
	.h {
		height: 49px;
		line-height: 49px;
		background: #fbfbfb;
		border-bottom: 1px solid #f0f0f0;
		//overflow: hidden;
		z-index: 10;
		position: relative;
		&.bdt { border-top: 1px solid #f0f0f0; }
		.title {
			float: left;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 0 0 20px;
		}
		.arrows {
			float: right;
			margin: 9px 20px 0 0;
			a {
				float: left;
				margin: 0 0 0 5px;
				display: block;
			}
		}
		ul {
			float: right;
			li {
				float: left;
				height: 49px;
				border-left: 1px solid #f0f0f0;
				padding: 0 20px;
				font-size: 12px;
				text-transform: uppercase;
				position: relative;
				span { padding: 0 0 3px; }
				a:hover { color: #e84c4c; }
				a.active {
					color: #e84c4c;
					span { border-bottom: 2px solid #e84c4c; }
				}
				ul {
					position: absolute;
					top: 49px;
					display: none;
					left: -1px;
					background: #fbfbfb;
					border-bottom: 1px solid #f0f0f0;
					padding: 10px 0;
					li {
						height: 25px;
						line-height: 25px;
					}
				}
				&:hover ul { display: block; }
			}
		}
	}
	&.carusel776 {
		overflow: hidden;
		.h {
			overflow: hidden;
		}
		.dts {
			width: 10000px;
			.d {
				width: 776px;
				float: left;
				display: block !important;
			}
		}
		.b_item_elem1 {
			width: 358px;
			margin: 15px 0 20px 20px;
			img {width: 100%;}
		}
	}
	&.carusel423 {
		overflow: hidden;
		.h {
			overflow: hidden;
		}
		.dts {
			width: 10000px;
			.d {
				width: 423px;
				float: left;
				display: block !important;
			}
		}
	}
	&.carusel239 {
		overflow: hidden;
		.h {
			overflow: hidden;
		}
		.dts {
			width: 10000px;
			.d {
				width: 239px;
				float: left;
				display: block !important;
			}
		}
		.b_blog_elem {
			span.time { }
			.b_stats {
				a { margin-left: 0; margin-right: 10px; }
			}
			h4 { text-transform: none; margin-top: 0; }
		}
	}
	&.black {
		.h {
			background: #222222;
			color: #fff;
			border: none;
			overflow: hidden;
			a { color: #fff; }
		}
		.d {
			background: #333333;
		}
	}
}
.b_stats {
	font-size: 12px;
	color: #868686;
	&.mb {
		margin: 0 0 7px;
	}
	.pdb {
		padding: 0 0 5px;
		display: block;
	}
	span {
		margin: 0 0 0 15px;
		&:first-child { margin: 0; }
	}
	a {
		margin: 0 0 0 15px;
		color: #868686;
		&:hover { color: #e84c4c; }
		&:first-child { margin: 0; }
	}
	.m0 {margin: 0;}
	.rate {
		padding: 0 0 0 10px;
	}
}
.b_item_elem {
	width: 231px;
	margin: 20px 0 0 20px;
	float: left;
	img {
		display: block;
		margin: 0 0 10px;
	}
	p {
		line-height: 18px;
		margin: 0 0 6px;
	}
	h4 {
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		margin: 10px 0 6px;
		a { color: #272727; }
		a:hover { color: #e84c4c; }
	}
}
.b_news_elem {
	@extend .b_item_elem;
	width: 357px;
	span.view {
		margin-left: 15px;
	}
}
.b_live {
	padding: 20px !important;
}
.b_item_elem1 {
	@extend .b_item_elem;
	margin: 0;
	width: 100%;
	button {
		margin-top: 15px;
	}
	span.view { margin: 0 0 0 15px; }
}
.b_blog_elem {
	@extend .b_item_elem;
	width: auto;
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid #f0f0f0;
	&:last-child {border: none;}
	h4 {
		font-size: 16px;
		font-weight: normal;
	}
}
.b_blog_elem1 {
	@extend .b_blog_elem;
	padding: 0 0 20px;
	margin: 0 0 20px;
	width: 100%;
	&:last-child {border: none;}
	h4 { text-transform: none; margin-top: 0; }
	.b_tag {
		padding-top: 8px;
	}
}
.b_inter {
	padding: 20px !important;
	a {
		float: left;
		background: #111;
		color: #fff;
		line-height: 20px;
		padding: 0 8px;
		margin: 0 5px 0 0;
		border-radius: 5px;
		&:hover {
			background: #252525;
		}
	}
}
.b_game_elem {
	@extend .b_item_elem;
	margin: 0 0 20px;
	width: auto;
	border-bottom: 1px solid #f0f0f0;
	&:last-child { border: none; }
	padding: 0 0 20px;
	h4 { text-transform: none; margin: 0 0 8px; }
	img { float: left; margin: 0; }
	.info {
		margin: 0 0 0 115px;
	}
	.b_stats {
		margin-top: 8px;
	}
}
.b_video_elem {
	border-bottom: 1px solid #464646;
	margin: 20px 20px 0 20px;
	&:last-child { border: none; }
	.image {
		float: left;
		width: 150px;
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		i.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -16px 0 0 -16px;
		}
	}
	.data {
		margin: 0 0 0 170px;
	}
	h4 {
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
		margin: 0 0 5px;
		a {color: #fff;}
		a:hover {text-decoration: underline;}
	}
	p {
		font-size: 12px;
		color: #656565;
		line-height: 16px;
		margin: 0 0 10px;
	}
	.b_stats {
		margin: 0 0 12px;
		a:first-child {margin-left: 0;}
		span { margin: 0 0 0 15px; }
	}
}
.b_games_box {
	padding: 20px 20px 0 20px !important;
	.l {
		width: 325px;
		float: left;
	}
	.r {
		width: 392px;
		float: right;
	}
}
.b_big_game_elem {
	position: relative;
	img {
		display: block;
	}
	.info {
		position: absolute;
		color: #fff;
		display: none;
		top: 0;
		left: 0;
		padding: 140px 35px 35px 35px;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		text-align: center;
		p { line-height: 18px; }
		h4 { font-size: 26px; font-weight: bold; line-height: 30px; margin: 0 0 15px; }
		h4 a { color: #fff; }
		h4 a:hover { color: #e84c4c; }
	}
	.b_stats {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		padding: 10px 0 0 0;
		margin: 10px 0 0 0;
		a { color: #fff; }
		a:hover { color: #e84c4c; }
	}
	&:hover {
		.info { display: block; }
	}
}
.b_tag {
	font-size: 12px;
	color: #adadad;
	a {
		color: #919191;
		margin: 0 5px;
		text-decoration: underline;
		font-size: 12px;
		&:hover { text-decoration: none; }
	}
}
.b_banner {
	img {
		display: block;
		margin: 20px auto 0;
	}
}
.b_gallery {
	padding: 14px 0 0 5px !important;
	img {
		float: left;
		margin: 10px 0 0 12px;
	}
	button.border {
		margin: 20px 12px 25px;
		width: 381px;
	}
	.b_banner {
		padding: 0 12px 10px 0;
		img {
			float: none;
			display: block;
			margin: 0 auto;
		}
	}
}
.b_index {
	margin: 0 0 20px;
	div.left {
		float: left;
		width: 777px;
		border-right: 1px solid #f0f0f0;
	}
	aside {
		width: 423px;
		float: right;
	}
}
.b_film_carusel {
	overflow: hidden;
	margin: 21px !important;
	position: relative;
	.wrap {
		width: 10000px;
	}
	a.left {
		position: absolute;
		left: 0;
		top: 148px;
	}
	a.right {
		position: absolute;
		right: 0;
		top: 148px;
	}
}
.b_film_elem {
	position: relative;
	width: 237px;
	height: 353px;
	float: left;
	margin: 0 13px 0 0;
	img {
		display: block;
		width: 100%;
		height: 100%;
	}
	.info {
		position: absolute;
		bottom: 0;
		color: #fff;
		left: 0;
		width: 100%;
		padding: 20px;
		span.date {
			background: #000;
			color: #c6c4c4;
			font-size: 12px;
			text-transform: uppercase;
			padding: 0 20px 0 10px;
			height: 29px;
			line-height: 29px;
			display: inline-block;
		}
		h4 {
			font-size: 18px;
			font-weight: bold;
			line-height: 24px;
			margin: 12px 0 0 0;
		}
		a { color: #fff; }
		a:hover { color: #e84c4c; }
	}
}

/* about page */
.b_bread {
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 20px;
	a {
		color: #737373;
	}
	span {
		color: #737373;
	}
}
.b_inner {
	@extend .b_index;
	div.left {
		width: 961px;
	}
	aside {
		width: 239px;
	}
}
.b_banner {
	img { margin: 0 auto 20px; }
}
article.text {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
	h1 {
		font-size: 24px;
		font-weight: bold;
		color: #e84c4c;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	p {
		font-size: 16px;
		color: #272727;
		line-height: 32px;
		margin: 0 0 20px;
	}
	img.left {
		float: left;
		margin: 5px 20px 10px 0;
	}
	img.right {
		float: right;
		margin: 5px 0 10px 20px;
	}
}
.b_inner_news_elem {
	@extend .b_news_elem;
	width: 218px;
	margin: 10px 0 10px 10px;
	.b_tag {
		margin: 10px 0 0 0;
	}
}
.b_banner_double {
	overflow: hidden;
	img {
		display: block;
	}
	a {
		display: block;
		&.left {float: left;}
		&.right {float: right;}
	}
}

/* notification */
.b_rules {
	.e {
		clear: both;
		overflow: hidden;
		margin: 15px 11px 0;
		border-bottom: 1px dotted #bcbcbc;
		padding: 0 0 15px;
		line-height: 18px;
		font-size: 13px;
		&:last-child { border: none; };
		a {
			color: #e95e32;
		}
		img {
			float: left;
		}
		p {
			margin: 0 0 0 82px;
		}
	}
}
.b_tags {
	margin-bottom: 20px;
	i.dot {opacity: 0;}
	.d {
		padding: 20px;
		&> ul {
			&> li {
				margin: 0 0 4px;
				&> a {
					display: block;
					line-height: 26px;
					&:before {
						content: '> ';
					}
					span {
					}
				}
				&.open {
					a {
					}
					ul {
						display: block;
					}
				}
				ul {
					display: none;
					padding: 5px 0;
					a {
						display: block;
						line-height: 26px;
					}
				}
			}
		}
	}
	&:not(.black) {
		.d > ul > li > a {
			background: #f0f0f0;
			padding: 0 10px;
			span {
				color: #d76920;
			}
			&:before {
				color: #636363;
			}
			&:hover {
				background: #e84c4c;
				color: #fff;
				&:before {
					color: #fff;
				}
				span {
					color: #fff;
				}
			}
		}
		.d > ul > li ul li {
			position: relative;
			&:hover {
				background: #f0f0f0;
				color: #e94b4a;
				i.dot { background: #f0f0f0; }
				span.sub {color: #000;}
			}
		}
		span.sub {
			position: absolute;
			top: 3px;
			right: 13px;
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
			color: #fff;
			&.cl { color: #e64b49 !important; }
		}
		.d > ul > li ul li a {
			display: inline;
			padding: 0 10px;
			i.dot {
				background: #4d4d4d;
			}
		}
	}
	&.black {
		.d > ul > li > a {
			color: #fff;
			&:before {
				color: #959595;
			}
			span {
				color: #959595;
			}
		}
		.d > ul > li ul a {
			color: #fff;
		}
	}
}
article.notification {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
	.e {
		background: #fafafa;
		overflow: hidden;
		border-bottom: 2px solid #f7f7f7;
		.image {
			float: left;
			width: 82px;
			background: #f0f0f0;
			height: 80px;
			padding: 13px 0 0 13px;
		}
		.text {
			margin: 0 150px 0 82px;
			height: 80px;
			padding: 0 20px;
			font-size: 16px;
			line-height: 22px;
			color: #434343;
			padding: 18px 20px 0 20px;
			.title {
				color: #000;
				font-size: 18px;
				font-weight: bold;
				a {color: #000;}
			}
			a {
				color: #d55e10;
			}
		}
		.time {
			width: 150px;
			float: right;
			background: #ececec;
			height: 80px;
			text-align: center;
			font-size: 13px;
			font-weight: bold;
			color: #434343;
			padding: 14px 0 0 0;
			span {
				margin: 5px 0 0 0;
				display: block;
			}
		}
	}
}

/* messages */
article.messages {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
}
.b_message {
	background: #f0f0f0;
	border-bottom: 2px solid #f7f7f7;
	.image {
		width: 82px;
		float: left;
		img {
			margin: 13px auto 0;
			display: block;
			border: 2px solid #fff;
			border-radius: 4px;
		}
	}
	.data {
		margin: 0 0 0 82px;
		background: #fafafa;
		padding: 13px 15px;
		.name {
			font-size: 18px;
			font-weight: bold;
			color: #000;
			margin: 0 0 8px;
		}
		p {
			line-height: 20px;
			color: #606060;
		}
		.b_stats {
			margin: 15px 0 0 0;
		}
	}
}
.b_message_send {
	background: #e8e8e8;
	border-bottom: 2px solid #f7f7f7;
	&> .image {
		float: left;
		width: 82px;
		padding: 23px 0 0 0;
	}
	.data {
		background: #f7f7f7;
		margin: 0 0 0 82px;
		padding: 23px 0 0 0;
		.title {
			color: #000;
			margin: 0 0 8px;
			font-size: 24px;
			background: #f4ecd7;
			height: 60px;
			line-height: 60px;
			padding: 0 15px;
		}
		form {
			display: block;
			padding: 0 14px;
		}
		textarea {
			display: block;
			width: 100%;
			border: 1px solid #cccccc;
			font-size: 16px;
			color: #959595;
			padding: 15px;
			line-height: 20px;
			height: 170px;
			margin: 0 0 20px;
		}
		button {
			background: #db6610;
			height: 36px;
			line-height: 36px;
			width: 185px;
		}
	}
}
.b_user {
	overflow: hidden;
	margin: 0 0 17px 15px;
	padding: 10px 0 0 0;
	.image {
		float: left;
		width: 73px;
		img {
			display: block;
			border: 2px solid #fff;
			border-radius: 4px;
		}
	}
	.data {
		margin: 0 0 0 73px;
		padding: 20px 0 0 0;
		.name {
			font-size: 18px;
			font-weight: bold;
			color: #000;
			margin: 0 0 8px;
		}
	}
}

/* search */
article.search {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
}
.b_search_form {
	background: #ececec url(../images/search_form.png) no-repeat;
	border: 4px solid #fff;
	height: 82px;
	padding: 23px 0 0 74px;
	margin: 0 0 30px;
	input {
		height: 36px;
		line-height: 20px;
		float: left;
		font-size: 16px;
		padding: 8px 17px;
		width: 455px;
	}
	button {
		height: 36px;
		line-height: 36px;
		float: left;
		background: #e84c4c;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		padding: 0 20px 0 10px;
		margin: 0 0 0 9px;
		i.icon {
			margin: 0 12px 0 0;
		}
		&.black {
			background: #333333;
		}
	}
}
.b_search_elem {
	@extend .b_game_elem;
	clear: both;
	width: 100%;
	.image {
		width: 320px;
		img {display: block;}
	}
	.info {
		margin: 0 0 0 345px;
		padding: 10px 0 0 0;
		h4 {
			font-size: 20px;
			font-weight: bold;
			color: #000;
			text-transform: uppercase;
		}
		p {
			font-size: 14px;
			color: #000;
			line-height: 18px;
			margin: 0 0 15px;
		}
		.b_stats {
			margin: 18px 0;
		}
		.b_tag {
			margin: 0 0 17px;
		}
		button {
			font-size: 12px;
			font-weight: bold;
			background: #e84c4c;
		}
	}
}

/* profile */
article.profile {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
	h4 {
		margin: 0 0 20px;
		i.icon {
			vertical-align: -16px;
			margin: 0 22px 0 0;
		}
		font-size: 24px;
		font-weight: bold;
	}
}
.b_change_avatar {
	.image {
		float: left;
		width: 160px;
		height: 160px;
		background: #e9e9e9;
		img {
			margin: 0 auto;
		}
	}
	.load {
		margin: 0 0 0 170px;
		.box {
			background: #e9e9e9;
			overflow: hidden;
			padding: 15px;
			margin: 0 0 10px;
			button {
				float: left;
				margin: 0 15px 0 0;
			}
		}
	}
}
.b_fieldset {
	border-bottom: 1px solid #dadada;
	padding: 0 0 15px;
	margin: 0 0 15px;
	.title {
		font-weight: bold;
		font-size: 16px;
		margin: 0 0 15px;
	}
	.l {
		width: 386px;
		float: left;
	}
	.r {
		width: 386px;
		float: left;
		margin: 0 0 0 10px;
	}
	.l, .r {
		.field {
			margin: 0 0 18px;
			&:last-child { margin: 0; }
		}
	}
	button.red {
		background: #dc660f;
		font-weight: normal;
	}
	input[type="text"], textarea {
		width: 100%;
		background: #ffffff;
		height: 35px;
		border: none;
		display: block;
		line-height: 20px;
		font-size: 16px;
		padding: 7.5px 17px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	}
	textarea {
		padding: 10px 17px;
		line-height: 20px;
		height: 80px;
	}
	.to_copy {
		display: none;
	}
}
.b_keys {
	width: 100%;
	font-size: 16px;
	color: #a4a4a4;
	tr {
		border-bottom: 1px solid #dadada;
		&:last-child { border: none; }
	}
	td, th {
		padding: 10px 0;
		text-align: center;
		img {
			vertical-align: -18px;
		}
		&:last-child {text-align: right;}
		&:first-child {text-align: left;}
	}
}
.b_add_social {
	margin: 0 0 13px;
	.select {
		float: left;
		width: 135px;
		margin: 0 15px 0 0;
	}
	input {
		width: 285px !important;
		float: left;
		margin: 0 15px 0 0;
	}
	button {
		height: 36px !important;
		float: left;
		line-height: 36px !important;
	}
}

/* subscribe */
article.subscribe {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
}
.b_subscribe {
	background: #fafafa;
	border-bottom: 2px solid #f7f7f7;
	overflow: hidden;
	.c1 {
		float: left;
		height: 80px;
		width: 80px;
		background: #f0f0f0;
		text-align: center;
		padding: 12px 0 0 0;
	}
	.c2 {
		float: left;
		height: 80px;
		width: 348px;
		line-height: 24px;
		padding: 13px 0 0 20px;
		.title {
			font-size: 22px;
			font-weight: bold;
			span {
				color: #e84c4c;
			}
			a { color: #e84c4c; }
		}
		p {
			font-size: 14px;
		}
	}
	.c3 {
		float: left;
		width: 150px;
		background: #f2f2f2;
		border-left: 2px solid #fafafa;
		height: 80px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 22px;
		padding: 23px 0 0 0;
		a {
			display: block;
			font-size: 16px;
			font-weight: bold;
			color: #e84c4c;
			text-decoration: underline;
			&:hover {text-decoration: none;}
		}
		button {
			margin-top: 3px;
			width: 115px;
		}
	}
}

/* news */
.b_inner_tree {
	@extend .b_index;
	aside {
		float: left;
	}
	div.left {
		width: 722px;
		border-left: 1px solid #f0f0f0;
	}
	aside {
		width: 239px;
	}
}
.b_film_elem1 {
	@extend .b_film_elem;
	width: 188px;
	height: 280px;
	margin: 19px 0 0 25px;
}
article.news {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px 20px 0 20px;
}
.b_paginator {
	font-size: 14px;
	float: right;
	margin: 20px 0 20px;
	li {
		float: left;
		border: 1px solid #dcdcdc;
		border-width: 1px 0 1px 1px;
		overflow: hidden;
		&:first-child {border-radius: 4px 0 0 4px;}
		&:last-child {border-width: 1px;border-radius: 0 4px 4px 0;}
		a {
			display: block;
			width: 32px;
			color: #7d7d7d;
			height: 32px;
			background: #ffffff;
			line-height: 32px;
			text-align: center;
			&.active {
				background: #d55e10;
				color: #fff;
			}
		}
	}
}
.b_news_big {
	@extend .b_item_elem1;
	margin: 0 0 30px;
	h4 {
		margin: 0;
		font-size: 20px;
	}
	img {
		width: 100%;
	}
	p {
		font-size: 14px;
		margin: 15px 0;
	}
	.b_stats {
		margin: 12px 0 15px;
	}
	button {
		background: #e84c4c !important;
	}
}
.b_news_open {
	@extend .b_news_big;
	font-size: 16px;
	line-height: 28px;
	img {
		display: block;
		margin: 0 0 15px;
	}
	p {
		font-size: 16px;
		line-height: 28px;
		a {
			color: #db6b19;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.label {
		font-size: 22px;
	}
	ul {
		margin: 0 0 15px;
		li {
			background: url(../images/d.png) 0 10px no-repeat;
			padding: 0 0 0 25px;
			margin: 0 0 10px;
		}
	}
	.social {
		overflow: hidden;
		padding: 0 0 10px;
		float: right;
		a {
			width: 35px;
			padding: 5px 0 0 0;
			height: 35px;
			display: block;
			text-align: center;
			float: left;
			background: #636363;
			border-radius: 20px;
			margin: 0 10px 0 0;
			&:hover {
				background: #8c8c8c;
				&.c1 { background: #598bbf; }
				&.c2 { background: #3d5589; }
				&.c3 { background: #00bcfe; }
				&.c4 { background: #ff903c; }
				&.c5 { background: #ff5d42; }
			}
		}
	}
}
.b_social {
	overflow: hidden;
	margin: 0 0 15px;
	li {
		float: left;
		height: 19px;
		margin: 0 16px 0 0;
		i.icon {
			float: left;
		}
		span {
			width: 26px;
			height: 19px;
			line-height: 17px;
			font-size: 11px;
			display: block;
			float: left;
			text-align: center;
			font-weight: bold;
			color: #a7a7a7;
			border-radius: 0 3px 3px 0;
			border: 1px solid #c9c9c9;
			border-width: 1px 1px 1px 0;
		}
	}
}
.b_comments {
	margin: 20px 0 0;
	.title {
		line-height: 30px;
		border-bottom: 2px solid #dee3e5;
		margin: 0 0 10px;
		div.user {
			float: right;
			font-size: 16px;
			i.icon {
				vertical-align: -1px;
				margin: 0 5px 0 10px;
			}
		}
		span {
			border-bottom: 2px solid #f7480f;
			display: block;
			float: left;
			margin: 0 0 -2px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.add_comment {
		padding: 25px 0 0 0;
		.t {
			font-size: 24px;
			margin: 0 0 28px;
			i.icon {
				vertical-align: -15px;
				margin: 0 18px 0 0;
			}
		}
		.image {
			float: left;
			margin: 0 0 17px;
			img {
				display: block;
				border: 2px solid #fff;
				border-radius: 4px;
			}
		}
		.i {
			margin: 0 0 0 72px;
			padding: 18px 0 0 0;
			font-size: 18px;
			font-weight: bold;
		}
		button {
			margin: 0 0 20px;
			height: 37px;
			line-height: 37px;
			padding: 0 50px;
			background: #db6610;
		}
		textarea {
			width: 100%;
			background: #ffffff;
			height: 35px;
			border: none;
			display: block;
			line-height: 35px;
			font-size: 16px;
			padding: 0 17px;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
			padding: 10px 17px;
			line-height: 20px;
			height: 80px;
			margin: 0 0 20px;
		}
	}
}
.b_comment {
	padding: 15px 0 0 0;
	hr {
		margin: 15px 0 0 0;
		border: none;
		border-bottom: 1px solid #dedede;
	}
	.image {
		float: left;
		position: relative;
	}
	.i {
		margin: 0 0 0 66px;
	}
	.b_stats {
		margin: 0 0 10px;
		a.user {
			margin: 0 15px 0 0;
			font-size: 14px;
			color: #d35400;
			text-decoration: underline;
			&:hover {text-decoration: none;}
		}
	}
	p {
		line-height: 18px;
		margin: 0 0 10px;
	}
	a.add {
		text-transform: uppercase;
		font-size: 12px;
		color: #a3a3a3;
		text-decoration: underline;
		&:hover {text-decoration: none;}
	}
	.slot {
		padding: 0 0 0 12px;
	}
}
.b_control {
	float: right;
	a {
		text-transform: uppercase;
		font-size: 12px;
		color: #a3a3a3;
		text-decoration: underline;
		&:hover {text-decoration: none;}
	}
}

/* message */
article.message {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 16px 16px 0 16px;
}
.b_message_add {
	background: url(../images/message.png) no-repeat;
	height: 447px;
	width: 886px;
	padding: 80px 40px 0 111px;
	border: 3px solid #fff;
	margin: 0 0 16px;
	.title {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	button.red {
		height: 37px;
		line-height: 37px;
		padding: 0 30px;
		background: #e84c4c;
	}
	input[type="text"], textarea {
		width: 100%;
		background: #ffffff;
		height: 35px;
		border: none;
		display: block;
		line-height: 20px;
		font-size: 16px;
		padding: 7.5px 17px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	}
	textarea {
		padding: 10px 17px;
		line-height: 20px;
		height: 189px;
		margin: 16px 0;
	}
}

/* friends */
article.friends {
	@extend article.notification;
	.e {
		.image img {
			border: 2px solid #fff;
			border-radius: 4px;
		}
		.time {
			width: 340px;
		}
		.b_stats {
			a:first-child {margin-left: 0;}
		}
		button {
			font-weight: normal;
			margin: 15px 9px 0 9px;
			&.red {background: #f35e00;}
			&.red1 {background: #ff4b4b;}
		}
	}
}

/* write */
article.write {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
	.load {
		background: #e9e9e9;
		padding: 15px;
		button {
			position: relative;
		}
		.images {
			overflow: hidden;
			.image {
				position: relative;
				float: left;
				margin: 0 10px 10px 0;
				img {
					display: block;
				}
				a {
					text-align: center;
					background: rgba(0, 0, 0, 0.3);
					padding: 25% 0 0 0;
					display: none;
					width: 50%;
					height: 100%;
					position: absolute;
					top: 0px;
				}
				a:nth-child(1) {
					left: 0px;
				}
				a:nth-child(2) {
					right: 0px;
				}
				&:hover a {display: block;}
			}
		}
	}
	.btns {
		margin: 0 0 19px;
		font-size: 0;
		button { 
			font-weight: bold; 
			margin: 0 10px 0 0;
		}
		button.big {
			width: 185px;
			height: 51px;
			line-height: 51px;
			font-size: 14px;
			font-weight: bold;
		}
		button.gray {
			background: #303030;
		}
		button.red {
			background: #ff4b4b;
		}
	}
	form {
		.field {
			margin: 0 0 20px;
		}
		input[type="text"], textarea {
			width: 100%;
			background: #ffffff;
			height: 35px;
			border: none;
			display: block;
			line-height: 20px;
			font-size: 16px;
			padding: 7.5px 17px;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
		}
		textarea {
			padding: 10px 17px;
			line-height: 20px;
			height: 189px;
		}
	}
}

/* 404 */
section.c404 {
	background: #fff url(../images/404.png) center bottom no-repeat;
	height: 700px;
	h3 {
		border-bottom: 1px solid #e6e6e6;
		font-size: 40px;
		font-weight: bold;
		color: #4d4d4d;
		line-height: 90px;
	}
	.text {
		margin: 70px 0 0 610px;
	}
	h4 {
		color: #e84c4c;
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		margin: 0 0 20px;
	}
	p {
		font-size: 18px;
		color: #525252;
		line-height: 24px;
		margin: 0 0 35px;
	}
	.btns {
		button {
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			width: 185px;
			margin: 0 10px 0 0;
			&.red {
				
			}
			&.black {
				background: #333333;
			}
		}
	}
}

/* cyber */
.b_game {
	overflow: hidden;
	clear: both;
	margin: 20px 10px 0 0;
	img {
		float: left;
		margin: 0 0 0 14px;
	}
	.i {
		margin: 0 0 0 233px;
		h4 {
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
			text-transform: uppercase;
			margin: 0 0 8px;
			a { color: #272727; }
			a:hover { color: #e84c4c; }
		}
		p {
			font-size: 13px;
			margin: 0 0 8px;
			color: #737373;
		}
		button {
			background: #e84c4d;
		}
	}
}
.b_video_big {
	padding: 15px 0 10px !important;
	img {
		margin: 0 auto;
		width: 716px;
		display: block;
	}
}
.b_dis {
	padding: 10px 20px 4px 20px !important;
	a {
		height: 26px;
		line-height: 26px;
		padding: 0 50px;
		float: left;
		margin: 0 6px 6px 0;
		background: #f0f0f0;
		&:hover { background: #e84c4d; color: #fff; }
		&.active { background: #e84c4d; color: #fff; }
	}
}

/* popups */
.popup {
	margin: 20px auto 50px;
	min-height: 100px;
	width: 1010px;
	border: 4px solid #fff;
	position: relative;
	background: #ededed url(../images/pop_bg.png) no-repeat;
	input[type="text"], textarea {
		width: 100%;
		background: #ffffff;
		height: 35px;
		border: none;
		display: block;
		line-height: 20px;
		font-size: 16px;
		padding: 7.5px 17px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	}
	a.close {
		position: absolute;
		top: 9px;
		right: 12px;
	}
	.title {
		position: absolute;
		top: 85px;
		left: 135px;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		z-index: 6001;
	}
	.already {
		position: absolute;
		z-index: 6000;
		top: 53px;
		right: 100px;
		button {
			margin: 0 0 0 20px;
			background: #000;
			color: #fff;
		}
	}
	.left {
		float: left;
		position: relative;
		margin: 129px 0 20px 111px;
		width: 390px;
		.field {
			margin: 0 0 13px;
		}
		input[type="checkbox"] {
			margin: 0 8px 0 0;
			vertical-align: 1px;
		}
		button {
			height: 36px;
			line-height: 36px;
			width: 186px;
			background: #e84c4d;
		}
		a {
			color: #e74d4b;
		}
	}
	.right {
		float: left;
		position: relative;
		margin: 129px 0 0 72px;
		width: 332px;
		.box {
			.h {
				background: #e84c4d;
				height: 59px;
				line-height: 59px;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				text-align: center;
			}
			.d {
				background: #ffffff;
				text-align: center;
				padding: 14px 0 10px;
				a {
					padding: 0 3px;
				}
			}
		}
	}
}

/* user */
.b_user_page {
	background: #fff;
	padding: 20px;
	.stats {
		margin: 0 0 20px;
		font-size: 18px;
		i {
			color: #ff3643;
			padding: 0 0 0 5px;
		}
		span {
			padding: 0 30px 0 0;
		}
		a {
			padding: 0 30px 0 0;
		}
		a.right {
			float: right;
			margin: 4px 0 0 0;
			padding: 0 0 0 30px;
		}
	}
	aside {
		width: 280px;
		float: right;
		.image {
			height: 407px;
			position: relative;
			background: #222;
			.t {
				position: absolute;
				top: 0;
				width: 100%;
				left: 0;
				line-height: 30px;
				background: rgba(0, 0, 0, 0.6);
				color: #fff;
				font-size: 14px;
				padding: 10px 20px;
				text-align: center;
			}
			.b {
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 0;
				padding: 0 20px 10px;
				&.premiun {
					&:after {
						position: absolute;
						content: '';
						right: 90px;
						top: 110px;
						@extend .sprite-prem;
					}
				}
				img {
					border-radius: 150px;
					display: block;
					width: 150px;
					margin: 0 auto;
				}
				.name {
					text-align: center;
					font-size: 20px;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
					margin: 25px 0 20px;
				}
				button {
					display: block;
					width: 100%;
					margin: 0 0 10px;
				}
			}
		}
	}
	.left {
		margin: 0 280px 0 0;
		width: 880px;
		&> .image {
			position: relative;
			height: 407px;
			img { width: 880px; display: block; height: 407px; }
			.t, .b {
				position: absolute;
				top: 0;
				width: 100%;
				left: 0;
				line-height: 30px;
				background: rgba(0, 0, 0, 0.6);
				color: #fff;
				font-size: 18px;
				padding: 10px 20px;
				a {
					color: #fff;
					text-decoration: underline;
					&:hover { text-decoration: none; }
				}
			}
			.b {
				top: auto;
				bottom: 0;
				padding: 15px 20px 10px;
				a:hover {color: #fe6321;}
				a {
					float: left;
					text-align: center;
					line-height: 20px;
					text-decoration: none;
					margin: 0 20px 0 20px;
					span {
						display: block;
						font-size: 24px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.b_info {
		padding: 20px !important;
		a:hover {color: #fe6321;}
		p {
			margin: 0 0 10px;
			font-size: 16px;
			color: #fff;
			&:last-child {margin: 0;}
		}
		i.null { width: 36px;display: inline-block; }
		a {
			color: #fff;
		}
		p.other {
			text-align: right;
			a { text-decoration: underline; }
			a:hover { text-decoration: none; }
		}
		.so1 {margin: 0 17.5px 0 7.5px;vertical-align: -3px;}
		.so2 {margin: 0 19px 0 9px;vertical-align: -3px;}
		.so3 {margin: 0 15.5px 0 5.5px;vertical-align: -3px;}
		.so4 {margin: 0 19px 0 9px;vertical-align: -3px;}
		.so5 {margin: 0 13.5px 0 7.5px;vertical-align: -3px;}
	}
	.b_posts {
		.h {
			a {
				margin: 0 15px 0 0;
				&.active { color: #fe6321; }
				&:not(.active):hover { text-decoration: underline; }
			}
		}
	}
	.b_opinions {
		padding: 10px 20px;
		.b_comment {
			//border: none;
			margin: 0 0 30px;
			.social {
				overflow: hidden;
				padding: 0 0 10px;
				float: right;
				a {
					width: 35px;
					padding: 8.5px 0 0 0;
					height: 35px;
					display: block;
					text-align: center;
					float: left;
					background: #636363;
					border-radius: 20px;
					margin: 0 10px 0 0;
					&:hover {
						background: #8c8c8c;
						&.c1 { background: #598bbf; }
						&.c2 { background: #3d5589; }
						&.c3 { background: #00bcfe; }
						&.c4 { background: #ff903c; }
						&.c5 { background: #ff5d42; }
					}
				}
			}
		}
	}
}

/* blogs */
article.blogs {
	background: #f7f7f7;
	border: 1px solid #f2f2f2;
	margin: 20px;
	padding: 20px;
	.left {
		width: 424px;
		float: left;
		border: none;
	}
	.right {
		width: 424px;
		float: right;
	}
}
.b_blogs_elem {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: 0 0 20px;
	.image {
		position: relative;
		img {
			display: block;
		}
		.i {
			position: absolute;
			top: 10px;
			left: 10px;
			background: #e84c4d;
			width: 60px;
			text-align: center;
			border-radius: 6px;
			.date {
				border-radius: 6px;
				color: #fff;
				font-size: 10px;
				line-height: 16px;
				text-transform: uppercase;
				padding: 8px 0 4px;
				span {
					display: block;
					font-size: 18px;
					font-weight: bold;
					text-transform: none;
				}
			}
			.comment {
				background: #272727;
				color: #fff;
				line-height: 28px;
				border-radius: 6px;
				a {color: #fff;}
			}
		}
	}
	&> .i {
		padding: 20px;
		h4 {
			border-bottom: 1px solid #e7e7e7;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 0 10px;
			margin:  0 0 10px;
			a:hover { color: #e64b49; }
		}
		p {
			font-size: 14px;
			color: #727272;
			line-height: 18px;
			margin: 0 0 10px;
		}
	}
	.b_tag {
		padding: 10px 0 0 0;
	}
}
.b_tags_search {
	.d {
		padding: 10px 20px !important;
		a.tag {
			float: left;
			font-size: 12px;
			height: 23px;
			line-height: 23px;
			background: #f0f0f0;
			padding: 0 10px;
			margin: 0 8px 10px 0;
		}
		a.all {
			text-decoration: underline;
			display: inline-block;
			margin: 10px 0 20px;
			color: #e64b49;
			&:hover {text-decoration: none;}
		}
	}
}

/* daslider */
.da-slider{
	width: 100%;
	min-width: 520px;
	height: 400px;
	position: relative;
	margin: 0px auto 20px;
	overflow: hidden;
	background: transparent url(../images/waves.gif) repeat 0% 0%;
	border-top: 8px solid #efc34a;
	border-bottom: 8px solid #efc34a;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	left: 10%;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	left: 60%;
	opacity: 1;
}
.da-slide h2{
	color: #fff;
	font-size: 66px;
	width: 50%;
	top: 60px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}
.da-slide p{
	width: 45%;
	top: 155px;
	color: #916c05;
	font-size: 18px;
	line-height: 26px;
	height: 100px;
	overflow: hidden;
	font-style: italic;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}
.da-slide .da-img{
	text-align: center;
	width: 30%;
	top: 70px;
	height: 256px;
	line-height: 320px;
	left: 110%; /*60%*/
}
.da-slide .da-link{
	top: 290px; /*Зависит от высоты p */
	border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 3px;
	font-size: 18px;
	line-height: 30px;
	//width: 100px;
	text-align: center;
	background: rgba(255,255,255,0.2);
	white-space: nowrap;
}
.da-slide .da-link:hover{
	background: rgba(255,255,255,0.3);
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #e4b42d;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #e4b42d;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out 0.2s;
	transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
	left: 10%;
	opacity: 1;
}
.da-slide-current .da-img{
	left: 60%;
	opacity: 1;
}
/*Классы анимации и сами анимации */

/* Выскальзывание справа */
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
	animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Выскальзывание слева */
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Плавный уход вправо */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Плавный уход влево */
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in both;
	-moz-animation: toLeftAnim1 0.6s ease-in both;
	-o-animation: toLeftAnim1 0.6s ease-in both;
	-ms-animation: toLeftAnim1 0.6s ease-in both;
	animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.4s ease-in both;
	-moz-animation: toLeftAnim3 0.4s ease-in both;
	-o-animation: toLeftAnim3 0.4s ease-in both;
	-ms-animation: toLeftAnim3 0.4s ease-in both;
	animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}







