@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

input {
  border: none;
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.sprite-4e, i.icon.i4e, .sprite-_keep, .sprite-add_comment, i.icon.add_comment, .sprite-arrow_left, i.icon.arrow_left, .sprite-arrow_left_black, i.icon.arrow_left_black, .sprite-arrow_right, i.icon.arrow_right, .sprite-arrow_right_black, i.icon.arrow_right_black, .sprite-birthday, i.icon.birthday, .sprite-bstr, body .customSelect:after, .sprite-check_black, header div.menu nav > li ul li i.check, header div.user ul.dropdown li i.check, .sprite-check_red, header div.menu nav > li ul li:hover i.check, header div.user ul.dropdown li:hover i.check, .sprite-close, i.icon.close, .sprite-comment, i.icon.comment, .sprite-comment_gray, i.icon.comment_gray, .sprite-comment_white, i.icon.comment_white, .sprite-copy, i.icon.copy, .sprite-down, i.icon.down, .sprite-down_gray, i.icon.down_gray, .sprite-down_white, i.icon.down_white, .sprite-dstr, i.icon.dstr, .sprite-dstr1, i.icon.dstr1, .sprite-film_left, i.icon.film_left, .sprite-film_right, i.icon.film_right, .sprite-follow, i.icon.follow, .sprite-footer_li, i.icon.footer_li, .sprite-header_social1, i.icon.header_social1, .sprite-header_social2, i.icon.header_social2, .sprite-header_social3, i.icon.header_social3, .sprite-header_social4, i.icon.header_social4, .sprite-header_social5, i.icon.header_social5, .sprite-header_social6, i.icon.header_social6, .sprite-home, i.icon.home, .sprite-location, i.icon.location, .sprite-logo, i.icon.logo, .sprite-logout, i.icon.logout, i.icon.logout_black:hover, .sprite-logout_black, i.icon.logout_black, .sprite-mail_red, i.icon.mail_red, .sprite-mail_white, i.icon.mail_white, .sprite-menu, header div.menu nav > li > a i.str, .sprite-menu_hover, header div.menu nav > li > a:hover i.str, .sprite-message_send, i.icon.message_send, .sprite-money, i.icon.money, .sprite-n1, i.icon.n1, .sprite-n2, i.icon.n2, .sprite-n3, i.icon.n3, .sprite-n4, i.icon.n4, .sprite-news_button1, i.icon.news_button1, .sprite-news_button2, i.icon.news_button2, .sprite-plus, i.icon.plus, .sprite-plus_gray, i.icon.plus_gray, .sprite-prem, i.icon.prem, .b_user_page aside .image .b.premiun:after, .sprite-prem_l, i.icon.prem_l, .sprite-prem_ll, i.icon.prem_ll, .sprite-prem_p, i.icon.prem_p, .sprite-profile, i.icon.profile, .sprite-remove, i.icon.remove, .sprite-remove1, i.icon.remove1, .sprite-rstr, i.icon.rstr, .sprite-s1, i.icon.s1, .sprite-s2, i.icon.s2, .sprite-s3, i.icon.s3, .sprite-s4, i.icon.s4, .sprite-s5, i.icon.s5, .sprite-save, body button.save_profile, .sprite-search, i.icon.search, .sprite-so1, i.icon.so1, .sprite-so2, i.icon.so2, .sprite-so3, i.icon.so3, .sprite-so4, i.icon.so4, .sprite-so5, i.icon.so5, .sprite-soc1, i.icon.soc1, .sprite-soc2, i.icon.soc2, .sprite-soc3, i.icon.soc3, .sprite-soc4, i.icon.soc4, .sprite-tag, i.icon.tag, .sprite-time, i.icon.time, .sprite-time_big, i.icon.time_big, .sprite-time_black, i.icon.time_black, .sprite-up, i.icon.up, .sprite-up_gray, i.icon.up_gray, .sprite-up_white, i.icon.up_white, .sprite-user, i.icon.user, .sprite-user_gray, i.icon.user_gray, .sprite-user_gray1, i.icon.user_gray1, .sprite-video, i.icon.video, .sprite-view, i.icon.view, .sprite-view_gray, i.icon.view_gray, .sprite-write, i.icon.write {
  background: url("../images/sprite.png") no-repeat;
}

.sprite-4e, i.icon.i4e {
  width: 23px;
  height: 22px;
  background-position: 0 0;
}

.sprite-_keep {
  width: 1px;
  height: 1px;
  background-position: 0 -22px;
}

.sprite-add_comment, i.icon.add_comment {
  width: 44px;
  height: 43px;
  background-position: 0 -23px;
}

.sprite-arrow_left, i.icon.arrow_left {
  width: 30px;
  height: 28px;
  background-position: 0 -66px;
}

.sprite-arrow_left_black, i.icon.arrow_left_black {
  width: 30px;
  height: 28px;
  background-position: 0 -94px;
}

.sprite-arrow_right, i.icon.arrow_right {
  width: 30px;
  height: 28px;
  background-position: 0 -122px;
}

.sprite-arrow_right_black, i.icon.arrow_right_black {
  width: 30px;
  height: 28px;
  background-position: 0 -150px;
}

.sprite-birthday, i.icon.birthday {
  width: 26px;
  height: 26px;
  background-position: 0 -178px;
}

.sprite-bstr, body .customSelect:after {
  width: 13px;
  height: 10px;
  background-position: 0 -204px;
}

.sprite-check_black, header div.menu nav > li ul li i.check, header div.user ul.dropdown li i.check {
  width: 12px;
  height: 11px;
  background-position: 0 -214px;
}

.sprite-check_red, header div.menu nav > li ul li:hover i.check, header div.user ul.dropdown li:hover i.check {
  width: 12px;
  height: 11px;
  background-position: 0 -225px;
}

.sprite-close, i.icon.close {
  width: 32px;
  height: 31px;
  background-position: 0 -236px;
}

.sprite-comment, i.icon.comment {
  width: 16px;
  height: 12px;
  background-position: 0 -267px;
}

.sprite-comment_gray, i.icon.comment_gray {
  width: 16px;
  height: 12px;
  background-position: 0 -279px;
}

.sprite-comment_white, i.icon.comment_white {
  width: 16px;
  height: 16px;
  background-position: 0 -291px;
}

.sprite-copy, i.icon.copy {
  width: 32px;
  height: 32px;
  background-position: 0 -307px;
}

.sprite-down, i.icon.down {
  width: 12px;
  height: 17px;
  background-position: 0 -339px;
}

.sprite-down_gray, i.icon.down_gray {
  width: 12px;
  height: 17px;
  background-position: 0 -356px;
}

.sprite-down_white, i.icon.down_white {
  width: 12px;
  height: 17px;
  background-position: 0 -373px;
}

.sprite-dstr, i.icon.dstr {
  width: 5px;
  height: 7px;
  background-position: 0 -390px;
}

.sprite-dstr1, i.icon.dstr1 {
  width: 10px;
  height: 9px;
  background-position: 0 -397px;
}

.sprite-film_left, i.icon.film_left {
  width: 29px;
  height: 28px;
  background-position: 0 -406px;
}

.sprite-film_right, i.icon.film_right {
  width: 29px;
  height: 28px;
  background-position: 0 -434px;
}

.sprite-follow, i.icon.follow {
  width: 21px;
  height: 19px;
  background-position: 0 -462px;
}

.sprite-footer_li, i.icon.footer_li {
  width: 9px;
  height: 9px;
  background-position: 0 -481px;
}

.sprite-header_social1, i.icon.header_social1 {
  width: 30px;
  height: 29px;
  background-position: 0 -490px;
}

.sprite-header_social2, i.icon.header_social2 {
  width: 37px;
  height: 29px;
  background-position: 0 -519px;
}

.sprite-header_social3, i.icon.header_social3 {
  width: 30px;
  height: 29px;
  background-position: 0 -548px;
}

.sprite-header_social4, i.icon.header_social4 {
  width: 33px;
  height: 29px;
  background-position: 0 -577px;
}

.sprite-header_social5, i.icon.header_social5 {
  width: 33px;
  height: 29px;
  background-position: 0 -606px;
}

.sprite-header_social6, i.icon.header_social6 {
  width: 31px;
  height: 29px;
  background-position: 0 -635px;
}

.sprite-home, i.icon.home {
  width: 20px;
  height: 16px;
  background-position: 0 -664px;
}

.sprite-location, i.icon.location {
  width: 20px;
  height: 20px;
  background-position: 0 -680px;
}

.sprite-logo, i.icon.logo {
  width: 274px;
  height: 50px;
  background-position: 0 -700px;
}

.sprite-logout, i.icon.logout, i.icon.logout_black:hover {
  width: 16px;
  height: 16px;
  background-position: 0 -750px;
}

.sprite-logout_black, i.icon.logout_black {
  width: 16px;
  height: 16px;
  background-position: 0 -766px;
}

.sprite-mail_red, i.icon.mail_red {
  width: 28px;
  height: 22px;
  background-position: 0 -782px;
}

.sprite-mail_white, i.icon.mail_white {
  width: 28px;
  height: 22px;
  background-position: 0 -804px;
}

.sprite-menu, header div.menu nav > li > a i.str {
  width: 11px;
  height: 6px;
  background-position: 0 -826px;
}

.sprite-menu_hover, header div.menu nav > li > a:hover i.str {
  width: 11px;
  height: 6px;
  background-position: 0 -832px;
}

.sprite-message_send, i.icon.message_send {
  width: 82px;
  height: 60px;
  background-position: 0 -838px;
}

.sprite-money, i.icon.money {
  width: 26px;
  height: 26px;
  background-position: 0 -898px;
}

.sprite-n1, i.icon.n1 {
  width: 57px;
  height: 55px;
  background-position: 0 -924px;
}

.sprite-n2, i.icon.n2 {
  width: 57px;
  height: 55px;
  background-position: 0 -979px;
}

.sprite-n3, i.icon.n3 {
  width: 57px;
  height: 55px;
  background-position: 0 -1034px;
}

.sprite-n4, i.icon.n4 {
  width: 57px;
  height: 55px;
  background-position: 0 -1089px;
}

.sprite-news_button1, i.icon.news_button1 {
  width: 24px;
  height: 19px;
  background-position: 0 -1144px;
}

.sprite-news_button2, i.icon.news_button2 {
  width: 18px;
  height: 24px;
  background-position: 0 -1163px;
}

.sprite-plus, i.icon.plus {
  width: 14px;
  height: 14px;
  background-position: 0 -1187px;
}

.sprite-plus_gray, i.icon.plus_gray {
  width: 14px;
  height: 14px;
  background-position: 0 -1201px;
}

.sprite-prem, i.icon.prem, .b_user_page aside .image .b.premiun:after {
  width: 45px;
  height: 30px;
  background-position: 0 -1215px;
}

.sprite-prem_l, i.icon.prem_l {
  width: 25px;
  height: 17px;
  background-position: 0 -1245px;
}

.sprite-prem_ll, i.icon.prem_ll {
  width: 20px;
  height: 13px;
  background-position: 0 -1262px;
}

.sprite-prem_p, i.icon.prem_p {
  width: 45px;
  height: 30px;
  background-position: 0 -1275px;
}

.sprite-profile, i.icon.profile {
  width: 62px;
  height: 63px;
  background-position: 0 -1305px;
}

.sprite-remove, i.icon.remove {
  width: 10px;
  height: 10px;
  background-position: 0 -1368px;
}

.sprite-remove1, i.icon.remove1 {
  width: 32px;
  height: 32px;
  background-position: 0 -1378px;
}

.sprite-rstr, i.icon.rstr {
  width: 7px;
  height: 12px;
  background-position: 0 -1410px;
}

.sprite-s1, i.icon.s1 {
  width: 53px;
  height: 54px;
  background-position: 0 -1422px;
}

.sprite-s2, i.icon.s2 {
  width: 53px;
  height: 54px;
  background-position: 0 -1476px;
}

.sprite-s3, i.icon.s3 {
  width: 54px;
  height: 54px;
  background-position: 0 -1530px;
}

.sprite-s4, i.icon.s4 {
  width: 54px;
  height: 54px;
  background-position: 0 -1584px;
}

.sprite-s5, i.icon.s5 {
  width: 54px;
  height: 54px;
  background-position: 0 -1638px;
}

.sprite-save, body button.save_profile {
  width: 293px;
  height: 58px;
  background-position: 0 -1692px;
}

.sprite-search, i.icon.search {
  width: 16px;
  height: 16px;
  background-position: 0 -1750px;
}

.sprite-so1, i.icon.so1 {
  width: 11px;
  height: 17px;
  background-position: 0 -1766px;
}

.sprite-so2, i.icon.so2 {
  width: 8px;
  height: 17px;
  background-position: 0 -1783px;
}

.sprite-so3, i.icon.so3 {
  width: 15px;
  height: 17px;
  background-position: 0 -1800px;
}

.sprite-so4, i.icon.so4 {
  width: 8px;
  height: 17px;
  background-position: 0 -1817px;
}

.sprite-so5, i.icon.so5 {
  width: 15px;
  height: 17px;
  background-position: 0 -1834px;
}

.sprite-soc1, i.icon.soc1 {
  width: 29px;
  height: 19px;
  background-position: 0 -1851px;
}

.sprite-soc2, i.icon.soc2 {
  width: 29px;
  height: 19px;
  background-position: 0 -1870px;
}

.sprite-soc3, i.icon.soc3 {
  width: 29px;
  height: 19px;
  background-position: 0 -1889px;
}

.sprite-soc4, i.icon.soc4 {
  width: 29px;
  height: 19px;
  background-position: 0 -1908px;
}

.sprite-tag, i.icon.tag {
  width: 15px;
  height: 15px;
  background-position: 0 -1927px;
}

.sprite-time, i.icon.time {
  width: 10px;
  height: 10px;
  background-position: 0 -1942px;
}

.sprite-time_big, i.icon.time_big {
  width: 29px;
  height: 29px;
  background-position: 0 -1952px;
}

.sprite-time_black, i.icon.time_black {
  width: 10px;
  height: 10px;
  background-position: 0 -1981px;
}

.sprite-up, i.icon.up {
  width: 12px;
  height: 17px;
  background-position: 0 -1991px;
}

.sprite-up_gray, i.icon.up_gray {
  width: 12px;
  height: 17px;
  background-position: 0 -2008px;
}

.sprite-up_white, i.icon.up_white {
  width: 12px;
  height: 17px;
  background-position: 0 -2025px;
}

.sprite-user, i.icon.user {
  width: 14px;
  height: 15px;
  background-position: 0 -2042px;
}

.sprite-user_gray, i.icon.user_gray {
  width: 11px;
  height: 11px;
  background-position: 0 -2057px;
}

.sprite-user_gray1, i.icon.user_gray1 {
  width: 14px;
  height: 14px;
  background-position: 0 -2068px;
}

.sprite-video, i.icon.video {
  width: 32px;
  height: 32px;
  background-position: 0 -2082px;
}

.sprite-view, i.icon.view {
  width: 15px;
  height: 8px;
  background-position: 0 -2114px;
}

.sprite-view_gray, i.icon.view_gray {
  width: 15px;
  height: 8px;
  background-position: 0 -2122px;
}

.sprite-write, i.icon.write {
  width: 26px;
  height: 24px;
  background-position: 0 -2130px;
}

i.icon {
  display: inline-block;
}
i.icon.user_gray {
  margin-right: 5px;
}
i.icon.dot {
  height: 5px;
  width: 5px;
  background: #fff;
  vertical-align: 3px;
  margin: 0 10px 0 0;
}
i.icon.footer_li {
  vertical-align: 1px;
  margin: 0 14px 0 0;
}
i.icon.rstr {
  vertical-align: -1px;
}
i.icon.tag {
  vertical-align: -3px;
  margin-right: 5px;
}
i.icon.time {
  margin-right: 5px;
}
i.icon.time_black {
  margin-right: 5px;
}
i.icon.comment {
  margin-right: 5px;
}
i.icon.comment_gray {
  margin-right: 5px;
}
i.icon.comment_white {
  margin-right: 5px;
  vertical-align: -3px;
}
i.icon.up {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.up_gray {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.up_white {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.down {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.down_gray {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.down_white {
  vertical-align: -3px;
  margin-right: 8px;
}
i.icon.view {
  margin-right: 5px;
}
i.icon.view_gray {
  margin-right: 5px;
}
i.icon.dstr {
  margin-left: 4px;
}
i.icon.news_button1 {
  vertical-align: -4px;
}
i.icon.news_button2 {
  vertical-align: -4px;
}
i.icon.follow {
  vertical-align: -5px;
  margin: 0 10px 0 0;
}
i.icon.remove {
  margin: 0 10px 0 0;
}
i.icon.write {
  vertical-align: -6px;
  margin: 0 10px 0 0;
}
i.icon.i4e {
  vertical-align: -4px;
  margin: 0 10px 0 0;
}
i.icon.mail_red {
  vertical-align: -5px;
  margin: 0 10px 0 0;
}
i.icon.mail_white {
  vertical-align: -5px;
  margin: 0 10px 0 0;
}
i.icon.money {
  vertical-align: -7px;
  margin: 0 10px 0 0;
}
i.icon.location {
  vertical-align: -5px;
  margin: 0 13px 0 3px;
}
i.icon.birthday {
  vertical-align: -6px;
  margin: 0 10px 0 0;
}
i.icon.dstr1 {
  vertical-align: 1px !important;
  margin: 0 0 0 10px !important;
}
i.icon.prem_l {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
i.icon.prem_ll {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

body {
  background: #f0f0f0;
  font: 14px/1 'PT Sans', sans-serif;
  color: #000;
  min-width: 1200px;
}
body textarea, body input {
  font-family: 'PT Sans';
}
body a {
  color: #000;
  text-decoration: none;
}
body .hasCustomSelect {
  position: relative;
  z-index: 100;
}
body .customSelect {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 35px;
  font-size: 16px;
  padding: 0 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  position: relative;
  z-index: 95;
}
body .customSelect:after {
  content: ' ';
  position: absolute;
  right: 13px;
  top: 13px;
}
body button {
  font-family: 'PT Sans';
}
body button.red, body button.gray, body button.red1 {
  background: #c01c1c;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  padding: 0 15px;
  overflow: hidden;
  position: relative;
}
body button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0.01;
}
body button.red1 {
  background: #e84c4d;
  font-weight: normal;
}
body button.gray {
  background: #9f9f9f;
  font-weight: normal;
}
body button.border {
  border: 1px solid #f29797;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  height: 41px;
  line-height: 41px;
  text-transform: uppercase;
  color: #e84c4c;
}
body button.border.mar {
  margin: 15px 15px;
  width: 380px;
}
body button.border.gr {
  color: #737373;
  border-color: #cfcfcf;
}
body button.save_profile {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 93px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'PT Sans';
  white-space: nowrap;
}
body.ovh {
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* header & footer */
footer {
  background: #222222;
  color: #c6c6c6;
}
footer .left {
  width: 790px;
  float: left;
  padding: 0 0 30px;
}
footer .left div.logo {
  margin: 40px 0 20px 0;
}
footer .left div.logo a {
  font-size: 37px;
  font-weight: bold;
  color: #e84c4c;
}
footer .left div.logo a span {
  color: #fff;
}
footer .left p {
  line-height: 22px;
}
footer .left div.social {
  font-size: 0;
  float: left;
  margin: 15px 0 0 0;
}
footer .left div.social a {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  padding: 4px 0 0 0;
  text-align: center;
  opacity: 0.6;
}
footer .left div.social a:hover {
  opacity: 1;
}
footer .right {
  width: 310px;
  float: right;
  padding: 55px 0 0 0;
}
footer .right .label {
  font-size: 18px;
  font-weight: bold;
  color: #ce4747;
  text-transform: uppercase;
  border-bottom: 1px solid #474747;
  padding: 0 0 5px;
}
footer .right ul {
  line-height: 22px;
  margin: 10px 0 0 0;
}
footer .right ul li a {
  color: #c6c6c6;
  font-size: 14px;
}
footer .i18 {
  padding: 10px 0 0 0;
  font-size: 15px;
  font-weight: bold;
  color: #9e9e9e;
}

.copyright {
  background: #000;
  color: #717171;
  font-size: 14px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.copyright .wrapper {
  position: relative;
}
.copyright .counters {
  position: absolute;
  top: 11px;
  right: 0;
}
.copyright .counters a img {
  display: block;
  float: left;
  margin: 0 3px;
}

header {
  background: url(../images/header.png) repeat-x;
  height: 151px;
}
header.c404 {
  height: 80px;
}
header .wrapper {
  position: relative;
  z-index: 5000;
}
header div.menu {
  background: #fff;
  border-radius: 7px;
  margin: 0px 0 0 0;
  padding: 28px 0 0 0;
}
header div.menu nav > li {
  float: left;
  margin: 0 30px 0 0;
  position: relative;
  padding: 0 0 15px;
}
header div.menu nav > li:first-child {
  margin-left: 30px;
  margin-top: -3px;
}
header div.menu nav > li > a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
header div.menu nav > li > a span {
  display: block;
  padding: 0 0 4px;
  border-bottom: 2px solid #fff;
}
header div.menu nav > li > a i.str {
  vertical-align: 2px;
  margin: 0 0 0 6px;
}
header div.menu nav > li > a:hover {
  color: #e84c4c;
}
header div.menu nav > li > a:hover span {
  color: #e84c4c;
  border-bottom: 2px solid #e84c4c;
}
header div.menu nav > li:hover ul {
  display: block;
}
header div.menu nav > li ul {
  position: absolute;
  top: 25px;
  left: 50%;
  margin: 0 0 0 -95px;
  min-width: 190px;
  background: #222222;
  border-top: 2px solid #e84c4c;
  padding: 5px 0 10px 0;
  display: none;
}
header div.menu nav > li ul li {
  font-size: 14px;
  text-transform: none;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #484848;
  position: relative;
}
header div.menu nav > li ul li:last-child {
  border: none;
}
header div.menu nav > li ul li:hover {
  background: #ff4b4c;
  color: #fff;
}
header div.menu nav > li ul li:hover span.sub {
  color: #fff;
}
header div.menu nav > li ul li span.sub {
  position: absolute;
  top: 0;
  right: 13px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #222222;
}
header div.menu nav > li ul li span.sub.cl {
  color: #6e6e6e;
}
header div.menu nav > li ul li i.check {
  float: right;
  margin: 9px 0 0 0;
}
header div.menu nav > li ul li a {
  white-space: nowrap;
  color: #fff;
  padding: 0 15px 0 10px;
}
header div.logo {
  float: left;
  margin: 16px 0 0 0;
}
header div.logo a {
  font-size: 37px;
  font-weight: bold;
  color: #e84c4c;
}
header div.logo a span {
  color: #fff;
}
header div.social {
  font-size: 0;
  float: right;
  margin: 25px 18px 0 0;
}
header div.social a {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  padding: 4px 0 0 0;
  text-align: center;
  opacity: 0.6;
}
header div.social a:hover {
  opacity: 1;
}
header div.user {
  float: right;
  margin: 21px 0 0 0;
  position: relative;
  padding: 0 0 23px;
  /*ul.dropdown {
  	position: absolute;
  	top: 57px;
  	left: 0;
  	z-index: 6700;
  	background: #fff;
  	border: 1px solid #222;
  	line-height: 25px;
  	padding: 5px 0;
  	width: 180px;
  	display: none;
  	text-align: center;
  	li {
  		display: block;
  		height: 25px;
  		width: 100%;
  		text-align: center;
  	}
  	a {
  		color: #222;
  		float: none;
  		height: auto;
  		line-height: 25px;
  		font-size: 14px;
  		&:hover {color: #fe6321;}
  	}
  }*/
}
header div.user ul.dropdown {
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  z-index: 6700;
  background: #222222;
  border-top: 2px solid #e84c4c;
  padding: 5px 0 10px 0;
  display: none;
}
header div.user ul.dropdown li {
  font-size: 14px;
  text-transform: none;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #484848;
  position: relative;
}
header div.user ul.dropdown li:last-child {
  border: none;
}
header div.user ul.dropdown li:hover {
  background: #ff4b4c;
  color: #fff;
}
header div.user ul.dropdown li:hover span.sub {
  color: #fff;
}
header div.user ul.dropdown li span.sub {
  position: absolute;
  top: 0;
  right: 13px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #222222;
}
header div.user ul.dropdown li span.sub.cl {
  color: #6e6e6e;
}
header div.user ul.dropdown li i.check {
  float: right;
  margin: 9px 0 0 0;
}
header div.user ul.dropdown li a {
  white-space: nowrap;
  color: #fff;
  float: none;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px 0 10px;
}
header div.user a {
  float: left;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  border-radius: 5px;
  padding: 0 9px;
  margin: 0 0 0 6px;
}
header div.user a.color {
  background: #3c3e3f;
}
header div.user a i.icon {
  vertical-align: -1px;
  margin: 0 7px 0 0;
}
header div.user .a {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  float: left;
}
header div.user .a img {
  width: 100%;
}
header div.user .name {
  line-height: 35px;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
header div.user .name a:hover {
  color: #fe6321;
}
header div.user:hover ul.dropdown {
  display: block;
}
header div.search {
  margin: 21px 54px 0 0;
  float: right;
}
header div.search form input {
  float: left;
  height: 35px;
  line-height: 20px;
  padding: 7.5px 0;
  font-size: 14px;
  width: 180px;
  padding: 0 11px;
  display: none;
}
header div.search form button {
  float: left;
  height: 35px;
  width: 35px;
  background: #343434;
  text-align: center;
}
header div.search form.open input {
  display: block;
}
header div.search form.open button {
  background: #d35400;
}
header div.notif {
  float: left;
  margin: 32px 0 0 40px;
}
header div.notif a {
  display: block;
  color: #fff;
}
header div.prem {
  float: left;
  margin: 27px 0 0 25px;
}

/* main page */
section {
  padding: 20px 0;
}
section .box {
  background: #fff;
}
section .box.pad {
  padding: 20px 20px 10px;
}
section .box.mar {
  margin: 0 0 20px 0;
}

.b_carusel ul {
  width: 10000px;
  overflow: hidden;
}
.b_carusel ul li {
  float: left;
  width: 1160px;
}
.b_carusel ul img {
  display: block;
  width: 100%;
}
.b_carusel .points {
  text-align: center;
  font-size: 0;
  margin: 10px 0 0 0;
}
.b_carusel .points a {
  display: inline-block;
  width: 50px;
  height: 3px;
  margin: 0 3px;
  background: #999999;
}
.b_carusel .points a.active {
  background: #e84c4c;
}

.b_promo_index .left {
  width: 1160px;
  float: left;
  overflow: hidden;
}
.b_promo_index .right {
  float: right;
  width: 355px;
}
.b_promo_index .right .b_quad_box, .b_promo_index .right .b_platform_elem {
  float: right;
  margin: 28px 27px 0 0;
}
.b_promo_index .right .b_quad_box:nth-child(2n+1), .b_promo_index .right .b_platform_elem:nth-child(2n+1) {
  margin-right: 0;
}
.b_promo_index .right .b_quad_box:nth-child(1), .b_promo_index .right .b_platform_elem:nth-child(1) {
  margin-top: 0;
}
.b_promo_index .right .b_quad_box:nth-child(2), .b_promo_index .right .b_platform_elem:nth-child(2) {
  margin-top: 0;
}

.b_quad_box, .b_platform_elem {
  position: relative;
  width: 164px;
  height: 164px;
}
.b_quad_box img, .b_platform_elem img {
  display: block;
}
.b_quad_box:hover .stats, .b_platform_elem:hover .stats {
  display: block;
}
.b_quad_box .stats, .b_platform_elem .stats {
  position: absolute;
  top: 4px;
  left: 0;
  background: #272727;
  color: #fff;
  display: none;
}
.b_quad_box .stats span, .b_platform_elem .stats span {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  float: left;
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  background: #e84c4c;
  padding: 0 12px;
}
.b_quad_box .stats button, .b_platform_elem .stats button {
  float: left;
  width: 28px;
  height: 28px;
}
.b_quad_box .stats a, .b_platform_elem .stats a {
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  padding: 0 0 0 12px;
}
.b_quad_box .stats a:hover, .b_platform_elem .stats a:hover {
  color: #e84c4c;
}
.b_quad_box span.title, .b_platform_elem span.title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  padding: 10px 15px;
}

.b_platform_elem {
  width: 181px;
  height: auto;
  float: left;
  margin: 21px 0 0 20px;
}
.b_platform_elem .stats {
  display: block;
}
.b_platform_elem a.image {
  position: relative;
  display: block;
  margin: 0 0 15px;
}
.b_platform_elem a.image .stats {
  top: 7px;
}
.b_platform_elem h4 {
  font-size: 14px;
  line-height: 20px;
}
.b_platform_elem h4 a:hover {
  color: #e84c4c;
}

.b_head_box .d {
  padding: 0 0 20px;
  display: none;
  z-index: 5;
  position: relative;
}
.b_head_box .d.active {
  display: block;
}
.b_head_box .h {
  height: 49px;
  line-height: 49px;
  background: #fbfbfb;
  border-bottom: 1px solid #f0f0f0;
  z-index: 10;
  position: relative;
}
.b_head_box .h.bdt {
  border-top: 1px solid #f0f0f0;
}
.b_head_box .h .title {
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 0 20px;
}
.b_head_box .h .arrows {
  float: right;
  margin: 9px 20px 0 0;
}
.b_head_box .h .arrows a {
  float: left;
  margin: 0 0 0 5px;
  display: block;
}
.b_head_box .h ul {
  float: right;
}
.b_head_box .h ul li {
  float: left;
  height: 49px;
  border-left: 1px solid #f0f0f0;
  padding: 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
.b_head_box .h ul li span {
  padding: 0 0 3px;
}
.b_head_box .h ul li a:hover {
  color: #e84c4c;
}
.b_head_box .h ul li a.active {
  color: #e84c4c;
}
.b_head_box .h ul li a.active span {
  border-bottom: 2px solid #e84c4c;
}
.b_head_box .h ul li ul {
  position: absolute;
  top: 49px;
  display: none;
  left: -1px;
  background: #fbfbfb;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}
.b_head_box .h ul li ul li {
  height: 25px;
  line-height: 25px;
}
.b_head_box .h ul li:hover ul {
  display: block;
}
.b_head_box.carusel776 {
  overflow: hidden;
}
.b_head_box.carusel776 .h {
  overflow: hidden;
}
.b_head_box.carusel776 .dts {
  width: 10000px;
}
.b_head_box.carusel776 .dts .d {
  width: 776px;
  float: left;
  display: block !important;
}
.b_head_box.carusel776 .b_item_elem1, .b_head_box.carusel776 .b_news_big, .b_head_box.carusel776 .b_news_open {
  width: 358px;
  margin: 15px 0 20px 20px;
}
.b_head_box.carusel776 .b_item_elem1 img, .b_head_box.carusel776 .b_news_big img, .b_head_box.carusel776 .b_news_open img {
  width: 100%;
}
.b_head_box.carusel423 {
  overflow: hidden;
}
.b_head_box.carusel423 .h {
  overflow: hidden;
}
.b_head_box.carusel423 .dts {
  width: 10000px;
}
.b_head_box.carusel423 .dts .d {
  width: 423px;
  float: left;
  display: block !important;
}
.b_head_box.carusel239 {
  overflow: hidden;
}
.b_head_box.carusel239 .h {
  overflow: hidden;
}
.b_head_box.carusel239 .dts {
  width: 10000px;
}
.b_head_box.carusel239 .dts .d {
  width: 239px;
  float: left;
  display: block !important;
}
.b_head_box.carusel239 .b_blog_elem .b_stats a, .b_head_box.carusel239 .b_blog_elem1 .b_stats a {
  margin-left: 0;
  margin-right: 10px;
}
.b_head_box.carusel239 .b_blog_elem h4, .b_head_box.carusel239 .b_blog_elem1 h4 {
  text-transform: none;
  margin-top: 0;
}
.b_head_box.black .h {
  background: #222222;
  color: #fff;
  border: none;
  overflow: hidden;
}
.b_head_box.black .h a {
  color: #fff;
}
.b_head_box.black .d {
  background: #333333;
}

.b_stats {
  font-size: 12px;
  color: #868686;
}
.b_stats.mb {
  margin: 0 0 7px;
}
.b_stats .pdb {
  padding: 0 0 5px;
  display: block;
}
.b_stats span {
  margin: 0 0 0 15px;
}
.b_stats span:first-child {
  margin: 0;
}
.b_stats a {
  margin: 0 0 0 15px;
  color: #868686;
}
.b_stats a:hover {
  color: #e84c4c;
}
.b_stats a:first-child {
  margin: 0;
}
.b_stats .m0 {
  margin: 0;
}
.b_stats .rate {
  padding: 0 0 0 10px;
}

.b_item_elem, .b_news_elem, .b_inner_news_elem, .b_item_elem1, .b_news_big, .b_news_open, .b_blog_elem, .b_blog_elem1, .b_game_elem, .b_search_elem {
  width: 231px;
  margin: 20px 0 0 20px;
  float: left;
}
.b_item_elem img, .b_news_elem img, .b_inner_news_elem img, .b_item_elem1 img, .b_news_big img, .b_news_open img, .b_blog_elem img, .b_blog_elem1 img, .b_game_elem img, .b_search_elem img {
  display: block;
  margin: 0 0 10px;
}
.b_item_elem p, .b_news_elem p, .b_inner_news_elem p, .b_item_elem1 p, .b_news_big p, .b_news_open p, .b_blog_elem p, .b_blog_elem1 p, .b_game_elem p, .b_search_elem p {
  line-height: 18px;
  margin: 0 0 6px;
}
.b_item_elem h4, .b_news_elem h4, .b_inner_news_elem h4, .b_item_elem1 h4, .b_news_big h4, .b_news_open h4, .b_blog_elem h4, .b_blog_elem1 h4, .b_game_elem h4, .b_search_elem h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 0 6px;
}
.b_item_elem h4 a, .b_news_elem h4 a, .b_inner_news_elem h4 a, .b_item_elem1 h4 a, .b_news_big h4 a, .b_news_open h4 a, .b_blog_elem h4 a, .b_blog_elem1 h4 a, .b_game_elem h4 a, .b_search_elem h4 a {
  color: #272727;
}
.b_item_elem h4 a:hover, .b_news_elem h4 a:hover, .b_inner_news_elem h4 a:hover, .b_item_elem1 h4 a:hover, .b_news_big h4 a:hover, .b_news_open h4 a:hover, .b_blog_elem h4 a:hover, .b_blog_elem1 h4 a:hover, .b_game_elem h4 a:hover, .b_search_elem h4 a:hover {
  color: #e84c4c;
}

.b_news_elem, .b_inner_news_elem {
  width: 357px;
}
.b_news_elem span.view, .b_inner_news_elem span.view {
  margin-left: 15px;
}

.b_live {
  padding: 20px !important;
}

.b_item_elem1, .b_news_big, .b_news_open {
  margin: 0;
  width: 100%;
}
.b_item_elem1 button, .b_news_big button, .b_news_open button {
  margin-top: 15px;
}
.b_item_elem1 span.view, .b_news_big span.view, .b_news_open span.view {
  margin: 0 0 0 15px;
}

.b_blog_elem, .b_blog_elem1 {
  width: auto;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
}
.b_blog_elem:last-child, .b_blog_elem1:last-child {
  border: none;
}
.b_blog_elem h4, .b_blog_elem1 h4 {
  font-size: 16px;
  font-weight: normal;
}

.b_blog_elem1 {
  padding: 0 0 20px;
  margin: 0 0 20px;
  width: 100%;
}
.b_blog_elem1:last-child {
  border: none;
}
.b_blog_elem1 h4 {
  text-transform: none;
  margin-top: 0;
}
.b_blog_elem1 .b_tag {
  padding-top: 8px;
}

.b_inter {
  padding: 20px !important;
}
.b_inter a {
  float: left;
  background: #111;
  color: #fff;
  line-height: 20px;
  padding: 0 8px;
  margin: 0 5px 0 0;
  border-radius: 5px;
}
.b_inter a:hover {
  background: #252525;
}

.b_game_elem, .b_search_elem {
  margin: 0 0 20px;
  width: auto;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 0 20px;
}
.b_game_elem:last-child, .b_search_elem:last-child {
  border: none;
}
.b_game_elem h4, .b_search_elem h4 {
  text-transform: none;
  margin: 0 0 8px;
}
.b_game_elem img, .b_search_elem img {
  float: left;
  margin: 0;
}
.b_game_elem .info, .b_search_elem .info {
  margin: 0 0 0 115px;
}
.b_game_elem .b_stats, .b_search_elem .b_stats {
  margin-top: 8px;
}

.b_video_elem {
  border-bottom: 1px solid #464646;
  margin: 20px 20px 0 20px;
}
.b_video_elem:last-child {
  border: none;
}
.b_video_elem .image {
  float: left;
  width: 150px;
  position: relative;
}
.b_video_elem .image img {
  width: 100%;
  display: block;
}
.b_video_elem .image i.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.b_video_elem .data {
  margin: 0 0 0 170px;
}
.b_video_elem h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 5px;
}
.b_video_elem h4 a {
  color: #fff;
}
.b_video_elem h4 a:hover {
  text-decoration: underline;
}
.b_video_elem p {
  font-size: 12px;
  color: #656565;
  line-height: 16px;
  margin: 0 0 10px;
}
.b_video_elem .b_stats {
  margin: 0 0 12px;
}
.b_video_elem .b_stats a:first-child {
  margin-left: 0;
}
.b_video_elem .b_stats span {
  margin: 0 0 0 15px;
}

.b_games_box {
  padding: 20px 20px 0 20px !important;
}
.b_games_box .l {
  width: 325px;
  float: left;
}
.b_games_box .r {
  width: 392px;
  float: right;
}

.b_big_game_elem {
  position: relative;
}
.b_big_game_elem img {
  display: block;
}
.b_big_game_elem .info {
  position: absolute;
  color: #fff;
  display: none;
  top: 0;
  left: 0;
  padding: 140px 35px 35px 35px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.b_big_game_elem .info p {
  line-height: 18px;
}
.b_big_game_elem .info h4 {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 15px;
}
.b_big_game_elem .info h4 a {
  color: #fff;
}
.b_big_game_elem .info h4 a:hover {
  color: #e84c4c;
}
.b_big_game_elem .b_stats {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
}
.b_big_game_elem .b_stats a {
  color: #fff;
}
.b_big_game_elem .b_stats a:hover {
  color: #e84c4c;
}
.b_big_game_elem:hover .info {
  display: block;
}

.b_tag {
  font-size: 12px;
  color: #adadad;
}
.b_tag a {
  color: #919191;
  margin: 0 5px;
  text-decoration: underline;
  font-size: 12px;
}
.b_tag a:hover {
  text-decoration: none;
}

.b_banner img {
  display: block;
  margin: 20px auto 0;
}

.b_gallery {
  padding: 14px 0 0 5px !important;
}
.b_gallery img {
  float: left;
  margin: 10px 0 0 12px;
}
.b_gallery button.border {
  margin: 20px 12px 25px;
  width: 381px;
}
.b_gallery .b_banner {
  padding: 0 12px 10px 0;
}
.b_gallery .b_banner img {
  float: none;
  display: block;
  margin: 0 auto;
}

.b_index, .b_inner, .b_inner_tree {
  margin: 0 0 20px;
}
.b_index div.left, .b_inner div.left, .b_inner_tree div.left {
  float: left;
  width: 777px;
  border-right: 1px solid #f0f0f0;
}
.b_index aside, .b_inner aside, .b_inner_tree aside {
  width: 423px;
  float: right;
}

.b_film_carusel {
  overflow: hidden;
  margin: 21px !important;
  position: relative;
}
.b_film_carusel .wrap {
  width: 10000px;
}
.b_film_carusel a.left {
  position: absolute;
  left: 0;
  top: 148px;
}
.b_film_carusel a.right {
  position: absolute;
  right: 0;
  top: 148px;
}

.b_film_elem, .b_film_elem1 {
  position: relative;
  width: 237px;
  height: 353px;
  float: left;
  margin: 0 13px 0 0;
}
.b_film_elem img, .b_film_elem1 img {
  display: block;
  width: 100%;
  height: 100%;
}
.b_film_elem .info, .b_film_elem1 .info {
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  width: 100%;
  padding: 20px;
}
.b_film_elem .info span.date, .b_film_elem1 .info span.date {
  background: #000;
  color: #c6c4c4;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 20px 0 10px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
}
.b_film_elem .info h4, .b_film_elem1 .info h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 12px 0 0 0;
}
.b_film_elem .info a, .b_film_elem1 .info a {
  color: #fff;
}
.b_film_elem .info a:hover, .b_film_elem1 .info a:hover {
  color: #e84c4c;
}

/* about page */
.b_bread {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 20px;
}
.b_bread a {
  color: #737373;
}
.b_bread span {
  color: #737373;
}

.b_inner div.left {
  width: 961px;
}
.b_inner aside {
  width: 239px;
}

.b_banner img {
  margin: 0 auto 20px;
}

article.text {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}
article.text h1 {
  font-size: 24px;
  font-weight: bold;
  color: #e84c4c;
  text-transform: uppercase;
  margin: 0 0 20px;
}
article.text p {
  font-size: 16px;
  color: #272727;
  line-height: 32px;
  margin: 0 0 20px;
}
article.text img.left {
  float: left;
  margin: 5px 20px 10px 0;
}
article.text img.right {
  float: right;
  margin: 5px 0 10px 20px;
}

.b_inner_news_elem {
  width: 218px;
  margin: 10px 0 10px 10px;
}
.b_inner_news_elem .b_tag {
  margin: 10px 0 0 0;
}

.b_banner_double {
  overflow: hidden;
}
.b_banner_double img {
  display: block;
}
.b_banner_double a {
  display: block;
}
.b_banner_double a.left {
  float: left;
}
.b_banner_double a.right {
  float: right;
}

/* notification */
.b_rules .e {
  clear: both;
  overflow: hidden;
  margin: 15px 11px 0;
  border-bottom: 1px dotted #bcbcbc;
  padding: 0 0 15px;
  line-height: 18px;
  font-size: 13px;
}
.b_rules .e:last-child {
  border: none;
}
.b_rules .e a {
  color: #e95e32;
}
.b_rules .e img {
  float: left;
}
.b_rules .e p {
  margin: 0 0 0 82px;
}

.b_tags {
  margin-bottom: 20px;
}
.b_tags i.dot {
  opacity: 0;
}
.b_tags .d {
  padding: 20px;
}
.b_tags .d > ul > li {
  margin: 0 0 4px;
}
.b_tags .d > ul > li > a {
  display: block;
  line-height: 26px;
}
.b_tags .d > ul > li > a:before {
  content: '> ';
}
.b_tags .d > ul > li.open ul {
  display: block;
}
.b_tags .d > ul > li ul {
  display: none;
  padding: 5px 0;
}
.b_tags .d > ul > li ul a {
  display: block;
  line-height: 26px;
}
.b_tags:not(.black) .d > ul > li > a {
  background: #f0f0f0;
  padding: 0 10px;
}
.b_tags:not(.black) .d > ul > li > a span {
  color: #d76920;
}
.b_tags:not(.black) .d > ul > li > a:before {
  color: #636363;
}
.b_tags:not(.black) .d > ul > li > a:hover {
  background: #e84c4c;
  color: #fff;
}
.b_tags:not(.black) .d > ul > li > a:hover:before {
  color: #fff;
}
.b_tags:not(.black) .d > ul > li > a:hover span {
  color: #fff;
}
.b_tags:not(.black) .d > ul > li ul li {
  position: relative;
}
.b_tags:not(.black) .d > ul > li ul li:hover {
  background: #f0f0f0;
  color: #e94b4a;
}
.b_tags:not(.black) .d > ul > li ul li:hover i.dot {
  background: #f0f0f0;
}
.b_tags:not(.black) .d > ul > li ul li:hover span.sub {
  color: #000;
}
.b_tags:not(.black) span.sub {
  position: absolute;
  top: 3px;
  right: 13px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
.b_tags:not(.black) span.sub.cl {
  color: #e64b49 !important;
}
.b_tags:not(.black) .d > ul > li ul li a {
  display: inline;
  padding: 0 10px;
}
.b_tags:not(.black) .d > ul > li ul li a i.dot {
  background: #4d4d4d;
}
.b_tags.black .d > ul > li > a {
  color: #fff;
}
.b_tags.black .d > ul > li > a:before {
  color: #959595;
}
.b_tags.black .d > ul > li > a span {
  color: #959595;
}
.b_tags.black .d > ul > li ul a {
  color: #fff;
}

article.notification, article.friends {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}
article.notification .e, article.friends .e {
  background: #fafafa;
  overflow: hidden;
  border-bottom: 2px solid #f7f7f7;
}
article.notification .e .image, article.friends .e .image {
  float: left;
  width: 82px;
  background: #f0f0f0;
  height: 80px;
  padding: 13px 0 0 13px;
}
article.notification .e .text, article.friends .e .text {
  margin: 0 150px 0 82px;
  height: 80px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
  padding: 18px 20px 0 20px;
}
article.notification .e .text .title, article.friends .e .text .title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
article.notification .e .text .title a, article.friends .e .text .title a {
  color: #000;
}
article.notification .e .text a, article.friends .e .text a {
  color: #d55e10;
}
article.notification .e .time, article.friends .e .time {
  width: 150px;
  float: right;
  background: #ececec;
  height: 80px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #434343;
  padding: 14px 0 0 0;
}
article.notification .e .time span, article.friends .e .time span {
  margin: 5px 0 0 0;
  display: block;
}

/* messages */
article.messages {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}

.b_message {
  background: #f0f0f0;
  border-bottom: 2px solid #f7f7f7;
}
.b_message .image {
  width: 82px;
  float: left;
}
.b_message .image img {
  margin: 13px auto 0;
  display: block;
  border: 2px solid #fff;
  border-radius: 4px;
}
.b_message .data {
  margin: 0 0 0 82px;
  background: #fafafa;
  padding: 13px 15px;
}
.b_message .data .name {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0 0 8px;
}
.b_message .data p {
  line-height: 20px;
  color: #606060;
}
.b_message .data .b_stats {
  margin: 15px 0 0 0;
}

.b_message_send {
  background: #e8e8e8;
  border-bottom: 2px solid #f7f7f7;
}
.b_message_send > .image {
  float: left;
  width: 82px;
  padding: 23px 0 0 0;
}
.b_message_send .data {
  background: #f7f7f7;
  margin: 0 0 0 82px;
  padding: 23px 0 0 0;
}
.b_message_send .data .title {
  color: #000;
  margin: 0 0 8px;
  font-size: 24px;
  background: #f4ecd7;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}
.b_message_send .data form {
  display: block;
  padding: 0 14px;
}
.b_message_send .data textarea {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #959595;
  padding: 15px;
  line-height: 20px;
  height: 170px;
  margin: 0 0 20px;
}
.b_message_send .data button {
  background: #db6610;
  height: 36px;
  line-height: 36px;
  width: 185px;
}

.b_user {
  overflow: hidden;
  margin: 0 0 17px 15px;
  padding: 10px 0 0 0;
}
.b_user .image {
  float: left;
  width: 73px;
}
.b_user .image img {
  display: block;
  border: 2px solid #fff;
  border-radius: 4px;
}
.b_user .data {
  margin: 0 0 0 73px;
  padding: 20px 0 0 0;
}
.b_user .data .name {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0 0 8px;
}

/* search */
article.search {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}

.b_search_form {
  background: #ececec url(../images/search_form.png) no-repeat;
  border: 4px solid #fff;
  height: 82px;
  padding: 23px 0 0 74px;
  margin: 0 0 30px;
}
.b_search_form input {
  height: 36px;
  line-height: 20px;
  float: left;
  font-size: 16px;
  padding: 8px 17px;
  width: 455px;
}
.b_search_form button {
  height: 36px;
  line-height: 36px;
  float: left;
  background: #e84c4c;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px 0 10px;
  margin: 0 0 0 9px;
}
.b_search_form button i.icon {
  margin: 0 12px 0 0;
}
.b_search_form button.black {
  background: #333333;
}

.b_search_elem {
  clear: both;
  width: 100%;
}
.b_search_elem .image {
  width: 320px;
}
.b_search_elem .image img {
  display: block;
}
.b_search_elem .info {
  margin: 0 0 0 345px;
  padding: 10px 0 0 0;
}
.b_search_elem .info h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.b_search_elem .info p {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  margin: 0 0 15px;
}
.b_search_elem .info .b_stats {
  margin: 18px 0;
}
.b_search_elem .info .b_tag {
  margin: 0 0 17px;
}
.b_search_elem .info button {
  font-size: 12px;
  font-weight: bold;
  background: #e84c4c;
}

/* profile */
article.profile {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}
article.profile h4 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
}
article.profile h4 i.icon {
  vertical-align: -16px;
  margin: 0 22px 0 0;
}

.b_change_avatar .image {
  float: left;
  width: 160px;
  height: 160px;
  background: #e9e9e9;
}
.b_change_avatar .image img {
  margin: 0 auto;
}
.b_change_avatar .load {
  margin: 0 0 0 170px;
}
.b_change_avatar .load .box {
  background: #e9e9e9;
  overflow: hidden;
  padding: 15px;
  margin: 0 0 10px;
}
.b_change_avatar .load .box button {
  float: left;
  margin: 0 15px 0 0;
}

.b_fieldset {
  border-bottom: 1px solid #dadada;
  padding: 0 0 15px;
  margin: 0 0 15px;
}
.b_fieldset .title {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 15px;
}
.b_fieldset .l {
  width: 386px;
  float: left;
}
.b_fieldset .r {
  width: 386px;
  float: left;
  margin: 0 0 0 10px;
}
.b_fieldset .l .field, .b_fieldset .r .field {
  margin: 0 0 18px;
}
.b_fieldset .l .field:last-child, .b_fieldset .r .field:last-child {
  margin: 0;
}
.b_fieldset button.red {
  background: #dc660f;
  font-weight: normal;
}
.b_fieldset input[type="text"], .b_fieldset textarea {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 20px;
  font-size: 16px;
  padding: 7.5px 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.b_fieldset textarea {
  padding: 10px 17px;
  line-height: 20px;
  height: 80px;
}
.b_fieldset .to_copy {
  display: none;
}

.b_keys {
  width: 100%;
  font-size: 16px;
  color: #a4a4a4;
}
.b_keys tr {
  border-bottom: 1px solid #dadada;
}
.b_keys tr:last-child {
  border: none;
}
.b_keys td, .b_keys th {
  padding: 10px 0;
  text-align: center;
}
.b_keys td img, .b_keys th img {
  vertical-align: -18px;
}
.b_keys td:last-child, .b_keys th:last-child {
  text-align: right;
}
.b_keys td:first-child, .b_keys th:first-child {
  text-align: left;
}

.b_add_social {
  margin: 0 0 13px;
}
.b_add_social .select {
  float: left;
  width: 135px;
  margin: 0 15px 0 0;
}
.b_add_social input {
  width: 285px !important;
  float: left;
  margin: 0 15px 0 0;
}
.b_add_social button {
  height: 36px !important;
  float: left;
  line-height: 36px !important;
}

/* subscribe */
article.subscribe {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}

.b_subscribe {
  background: #fafafa;
  border-bottom: 2px solid #f7f7f7;
  overflow: hidden;
}
.b_subscribe .c1 {
  float: left;
  height: 80px;
  width: 80px;
  background: #f0f0f0;
  text-align: center;
  padding: 12px 0 0 0;
}
.b_subscribe .c2 {
  float: left;
  height: 80px;
  width: 348px;
  line-height: 24px;
  padding: 13px 0 0 20px;
}
.b_subscribe .c2 .title {
  font-size: 22px;
  font-weight: bold;
}
.b_subscribe .c2 .title span {
  color: #e84c4c;
}
.b_subscribe .c2 .title a {
  color: #e84c4c;
}
.b_subscribe .c2 p {
  font-size: 14px;
}
.b_subscribe .c3 {
  float: left;
  width: 150px;
  background: #f2f2f2;
  border-left: 2px solid #fafafa;
  height: 80px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
  padding: 23px 0 0 0;
}
.b_subscribe .c3 a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #e84c4c;
  text-decoration: underline;
}
.b_subscribe .c3 a:hover {
  text-decoration: none;
}
.b_subscribe .c3 button {
  margin-top: 3px;
  width: 115px;
}

/* news */
.b_inner_tree aside {
  float: left;
}
.b_inner_tree div.left {
  width: 722px;
  border-left: 1px solid #f0f0f0;
}
.b_inner_tree aside {
  width: 239px;
}

.b_film_elem1 {
  width: 188px;
  height: 280px;
  margin: 19px 0 0 25px;
}

article.news {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px 20px 0 20px;
}

.b_paginator {
  font-size: 14px;
  float: right;
  margin: 20px 0 20px;
}
.b_paginator li {
  float: left;
  border: 1px solid #dcdcdc;
  border-width: 1px 0 1px 1px;
  overflow: hidden;
}
.b_paginator li:first-child {
  border-radius: 4px 0 0 4px;
}
.b_paginator li:last-child {
  border-width: 1px;
  border-radius: 0 4px 4px 0;
}
.b_paginator li a {
  display: block;
  width: 32px;
  color: #7d7d7d;
  height: 32px;
  background: #ffffff;
  line-height: 32px;
  text-align: center;
}
.b_paginator li a.active {
  background: #d55e10;
  color: #fff;
}

.b_news_big, .b_news_open {
  margin: 0 0 30px;
}
.b_news_big h4, .b_news_open h4 {
  margin: 0;
  font-size: 20px;
}
.b_news_big img, .b_news_open img {
  width: 100%;
}
.b_news_big p, .b_news_open p {
  font-size: 14px;
  margin: 15px 0;
}
.b_news_big .b_stats, .b_news_open .b_stats {
  margin: 12px 0 15px;
}
.b_news_big button, .b_news_open button {
  background: #e84c4c !important;
}

.b_news_open {
  font-size: 16px;
  line-height: 28px;
}
.b_news_open img {
  display: block;
  margin: 0 0 15px;
}
.b_news_open p {
  font-size: 16px;
  line-height: 28px;
}
.b_news_open p a {
  color: #db6b19;
  text-decoration: underline;
}
.b_news_open p a:hover {
  text-decoration: none;
}
.b_news_open .label {
  font-size: 22px;
}
.b_news_open ul {
  margin: 0 0 15px;
}
.b_news_open ul li {
  background: url(../images/d.png) 0 10px no-repeat;
  padding: 0 0 0 25px;
  margin: 0 0 10px;
}
.b_news_open .social {
  overflow: hidden;
  padding: 0 0 10px;
  float: right;
}
.b_news_open .social a {
  width: 35px;
  padding: 5px 0 0 0;
  height: 35px;
  display: block;
  text-align: center;
  float: left;
  background: #636363;
  border-radius: 20px;
  margin: 0 10px 0 0;
}
.b_news_open .social a:hover {
  background: #8c8c8c;
}
.b_news_open .social a:hover.c1 {
  background: #598bbf;
}
.b_news_open .social a:hover.c2 {
  background: #3d5589;
}
.b_news_open .social a:hover.c3 {
  background: #00bcfe;
}
.b_news_open .social a:hover.c4 {
  background: #ff903c;
}
.b_news_open .social a:hover.c5 {
  background: #ff5d42;
}

.b_social {
  overflow: hidden;
  margin: 0 0 15px;
}
.b_social li {
  float: left;
  height: 19px;
  margin: 0 16px 0 0;
}
.b_social li i.icon {
  float: left;
}
.b_social li span {
  width: 26px;
  height: 19px;
  line-height: 17px;
  font-size: 11px;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  color: #a7a7a7;
  border-radius: 0 3px 3px 0;
  border: 1px solid #c9c9c9;
  border-width: 1px 1px 1px 0;
}

.b_comments {
  margin: 20px 0 0;
}
.b_comments .title {
  line-height: 30px;
  border-bottom: 2px solid #dee3e5;
  margin: 0 0 10px;
}
.b_comments .title div.user {
  float: right;
  font-size: 16px;
}
.b_comments .title div.user i.icon {
  vertical-align: -1px;
  margin: 0 5px 0 10px;
}
.b_comments .title span {
  border-bottom: 2px solid #f7480f;
  display: block;
  float: left;
  margin: 0 0 -2px;
  font-size: 16px;
  font-weight: bold;
}
.b_comments .add_comment {
  padding: 25px 0 0 0;
}
.b_comments .add_comment .t {
  font-size: 24px;
  margin: 0 0 28px;
}
.b_comments .add_comment .t i.icon {
  vertical-align: -15px;
  margin: 0 18px 0 0;
}
.b_comments .add_comment .image {
  float: left;
  margin: 0 0 17px;
}
.b_comments .add_comment .image img {
  display: block;
  border: 2px solid #fff;
  border-radius: 4px;
}
.b_comments .add_comment .i {
  margin: 0 0 0 72px;
  padding: 18px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}
.b_comments .add_comment button {
  margin: 0 0 20px;
  height: 37px;
  line-height: 37px;
  padding: 0 50px;
  background: #db6610;
}
.b_comments .add_comment textarea {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 35px;
  font-size: 16px;
  padding: 0 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  padding: 10px 17px;
  line-height: 20px;
  height: 80px;
  margin: 0 0 20px;
}

.b_comment {
  padding: 15px 0 0 0;
}
.b_comment hr {
  margin: 15px 0 0 0;
  border: none;
  border-bottom: 1px solid #dedede;
}
.b_comment .image {
  float: left;
  position: relative;
}
.b_comment .i {
  margin: 0 0 0 66px;
}
.b_comment .b_stats {
  margin: 0 0 10px;
}
.b_comment .b_stats a.user {
  margin: 0 15px 0 0;
  font-size: 14px;
  color: #d35400;
  text-decoration: underline;
}
.b_comment .b_stats a.user:hover {
  text-decoration: none;
}
.b_comment p {
  line-height: 18px;
  margin: 0 0 10px;
}
.b_comment a.add {
  text-transform: uppercase;
  font-size: 12px;
  color: #a3a3a3;
  text-decoration: underline;
}
.b_comment a.add:hover {
  text-decoration: none;
}
.b_comment .slot {
  padding: 0 0 0 12px;
}

.b_control {
  float: right;
}
.b_control a {
  text-transform: uppercase;
  font-size: 12px;
  color: #a3a3a3;
  text-decoration: underline;
}
.b_control a:hover {
  text-decoration: none;
}

/* message */
article.message {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 16px 16px 0 16px;
}

.b_message_add {
  background: url(../images/message.png) no-repeat;
  height: 447px;
  width: 886px;
  padding: 80px 40px 0 111px;
  border: 3px solid #fff;
  margin: 0 0 16px;
}
.b_message_add .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.b_message_add button.red {
  height: 37px;
  line-height: 37px;
  padding: 0 30px;
  background: #e84c4c;
}
.b_message_add input[type="text"], .b_message_add textarea {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 20px;
  font-size: 16px;
  padding: 7.5px 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.b_message_add textarea {
  padding: 10px 17px;
  line-height: 20px;
  height: 189px;
  margin: 16px 0;
}

/* friends */
article.friends .e .image img {
  border: 2px solid #fff;
  border-radius: 4px;
}
article.friends .e .time {
  width: 340px;
}
article.friends .e .b_stats a:first-child {
  margin-left: 0;
}
article.friends .e button {
  font-weight: normal;
  margin: 15px 9px 0 9px;
}
article.friends .e button.red {
  background: #f35e00;
}
article.friends .e button.red1 {
  background: #ff4b4b;
}

/* write */
article.write {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}
article.write .load {
  background: #e9e9e9;
  padding: 15px;
}
article.write .load button {
  position: relative;
}
article.write .load .images {
  overflow: hidden;
}
article.write .load .images .image {
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
}
article.write .load .images .image img {
  display: block;
}
article.write .load .images .image a {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 25% 0 0 0;
  display: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
}
article.write .load .images .image a:nth-child(1) {
  left: 0px;
}
article.write .load .images .image a:nth-child(2) {
  right: 0px;
}
article.write .load .images .image:hover a {
  display: block;
}
article.write .btns {
  margin: 0 0 19px;
  font-size: 0;
}
article.write .btns button {
  font-weight: bold;
  margin: 0 10px 0 0;
}
article.write .btns button.big {
  width: 185px;
  height: 51px;
  line-height: 51px;
  font-size: 14px;
  font-weight: bold;
}
article.write .btns button.gray {
  background: #303030;
}
article.write .btns button.red {
  background: #ff4b4b;
}
article.write form .field {
  margin: 0 0 20px;
}
article.write form input[type="text"], article.write form textarea {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 20px;
  font-size: 16px;
  padding: 7.5px 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
article.write form textarea {
  padding: 10px 17px;
  line-height: 20px;
  height: 189px;
}

/* 404 */
section.c404 {
  background: #fff url(../images/404.png) center bottom no-repeat;
  height: 700px;
}
section.c404 h3 {
  border-bottom: 1px solid #e6e6e6;
  font-size: 40px;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 90px;
}
section.c404 .text {
  margin: 70px 0 0 610px;
}
section.c404 h4 {
  color: #e84c4c;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 0 20px;
}
section.c404 p {
  font-size: 18px;
  color: #525252;
  line-height: 24px;
  margin: 0 0 35px;
}
section.c404 .btns button {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  width: 185px;
  margin: 0 10px 0 0;
}
section.c404 .btns button.black {
  background: #333333;
}

/* cyber */
.b_game {
  overflow: hidden;
  clear: both;
  margin: 20px 10px 0 0;
}
.b_game img {
  float: left;
  margin: 0 0 0 14px;
}
.b_game .i {
  margin: 0 0 0 233px;
}
.b_game .i h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.b_game .i h4 a {
  color: #272727;
}
.b_game .i h4 a:hover {
  color: #e84c4c;
}
.b_game .i p {
  font-size: 13px;
  margin: 0 0 8px;
  color: #737373;
}
.b_game .i button {
  background: #e84c4d;
}

.b_video_big {
  padding: 15px 0 10px !important;
}
.b_video_big img {
  margin: 0 auto;
  width: 716px;
  display: block;
}

.b_dis {
  padding: 10px 20px 4px 20px !important;
}
.b_dis a {
  height: 26px;
  line-height: 26px;
  padding: 0 50px;
  float: left;
  margin: 0 6px 6px 0;
  background: #f0f0f0;
}
.b_dis a:hover {
  background: #e84c4d;
  color: #fff;
}
.b_dis a.active {
  background: #e84c4d;
  color: #fff;
}

/* popups */
.popup {
  margin: 20px auto 50px;
  min-height: 100px;
  width: 1010px;
  border: 4px solid #fff;
  position: relative;
  background: #ededed url(../images/pop_bg.png) no-repeat;
}
.popup input[type="text"], .popup textarea {
  width: 100%;
  background: #ffffff;
  height: 35px;
  border: none;
  display: block;
  line-height: 20px;
  font-size: 16px;
  padding: 7.5px 17px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.popup a.close {
  position: absolute;
  top: 9px;
  right: 12px;
}
.popup .title {
  position: absolute;
  top: 85px;
  left: 135px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 6001;
}
.popup .already {
  position: absolute;
  z-index: 6000;
  top: 53px;
  right: 100px;
}
.popup .already button {
  margin: 0 0 0 20px;
  background: #000;
  color: #fff;
}
.popup .left {
  float: left;
  position: relative;
  margin: 129px 0 20px 111px;
  width: 390px;
}
.popup .left .field {
  margin: 0 0 13px;
}
.popup .left input[type="checkbox"] {
  margin: 0 8px 0 0;
  vertical-align: 1px;
}
.popup .left button {
  height: 36px;
  line-height: 36px;
  width: 186px;
  background: #e84c4d;
}
.popup .left a {
  color: #e74d4b;
}
.popup .right {
  float: left;
  position: relative;
  margin: 129px 0 0 72px;
  width: 332px;
}
.popup .right .box .h {
  background: #e84c4d;
  height: 59px;
  line-height: 59px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.popup .right .box .d {
  background: #ffffff;
  text-align: center;
  padding: 14px 0 10px;
}
.popup .right .box .d a {
  padding: 0 3px;
}

/* user */
.b_user_page {
  background: #fff;
  padding: 20px;
}
.b_user_page .stats {
  margin: 0 0 20px;
  font-size: 18px;
}
.b_user_page .stats i {
  color: #ff3643;
  padding: 0 0 0 5px;
}
.b_user_page .stats span {
  padding: 0 30px 0 0;
}
.b_user_page .stats a {
  padding: 0 30px 0 0;
}
.b_user_page .stats a.right {
  float: right;
  margin: 4px 0 0 0;
  padding: 0 0 0 30px;
}
.b_user_page aside {
  width: 280px;
  float: right;
}
.b_user_page aside .image {
  height: 407px;
  position: relative;
  background: #222;
}
.b_user_page aside .image .t {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
}
.b_user_page aside .image .b {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 20px 10px;
}
.b_user_page aside .image .b.premiun:after {
  position: absolute;
  content: '';
  right: 90px;
  top: 110px;
}
.b_user_page aside .image .b img {
  border-radius: 150px;
  display: block;
  width: 150px;
  margin: 0 auto;
}
.b_user_page aside .image .b .name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 25px 0 20px;
}
.b_user_page aside .image .b button {
  display: block;
  width: 100%;
  margin: 0 0 10px;
}
.b_user_page .left {
  margin: 0 280px 0 0;
  width: 880px;
}
.b_user_page .left > .image {
  position: relative;
  height: 407px;
}
.b_user_page .left > .image img {
  width: 880px;
  display: block;
  height: 407px;
}
.b_user_page .left > .image .t, .b_user_page .left > .image .b {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
}
.b_user_page .left > .image .t a, .b_user_page .left > .image .b a {
  color: #fff;
  text-decoration: underline;
}
.b_user_page .left > .image .t a:hover, .b_user_page .left > .image .b a:hover {
  text-decoration: none;
}
.b_user_page .left > .image .b {
  top: auto;
  bottom: 0;
  padding: 15px 20px 10px;
}
.b_user_page .left > .image .b a:hover {
  color: #fe6321;
}
.b_user_page .left > .image .b a {
  float: left;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin: 0 20px 0 20px;
}
.b_user_page .left > .image .b a span {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.b_user_page .b_info {
  padding: 20px !important;
}
.b_user_page .b_info a:hover {
  color: #fe6321;
}
.b_user_page .b_info p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #fff;
}
.b_user_page .b_info p:last-child {
  margin: 0;
}
.b_user_page .b_info i.null {
  width: 36px;
  display: inline-block;
}
.b_user_page .b_info a {
  color: #fff;
}
.b_user_page .b_info p.other {
  text-align: right;
}
.b_user_page .b_info p.other a {
  text-decoration: underline;
}
.b_user_page .b_info p.other a:hover {
  text-decoration: none;
}
.b_user_page .b_info .so1 {
  margin: 0 17.5px 0 7.5px;
  vertical-align: -3px;
}
.b_user_page .b_info .so2 {
  margin: 0 19px 0 9px;
  vertical-align: -3px;
}
.b_user_page .b_info .so3 {
  margin: 0 15.5px 0 5.5px;
  vertical-align: -3px;
}
.b_user_page .b_info .so4 {
  margin: 0 19px 0 9px;
  vertical-align: -3px;
}
.b_user_page .b_info .so5 {
  margin: 0 13.5px 0 7.5px;
  vertical-align: -3px;
}
.b_user_page .b_posts .h a {
  margin: 0 15px 0 0;
}
.b_user_page .b_posts .h a.active {
  color: #fe6321;
}
.b_user_page .b_posts .h a:not(.active):hover {
  text-decoration: underline;
}
.b_user_page .b_opinions {
  padding: 10px 20px;
}
.b_user_page .b_opinions .b_comment {
  margin: 0 0 30px;
}
.b_user_page .b_opinions .b_comment .social {
  overflow: hidden;
  padding: 0 0 10px;
  float: right;
}
.b_user_page .b_opinions .b_comment .social a {
  width: 35px;
  padding: 8.5px 0 0 0;
  height: 35px;
  display: block;
  text-align: center;
  float: left;
  background: #636363;
  border-radius: 20px;
  margin: 0 10px 0 0;
}
.b_user_page .b_opinions .b_comment .social a:hover {
  background: #8c8c8c;
}
.b_user_page .b_opinions .b_comment .social a:hover.c1 {
  background: #598bbf;
}
.b_user_page .b_opinions .b_comment .social a:hover.c2 {
  background: #3d5589;
}
.b_user_page .b_opinions .b_comment .social a:hover.c3 {
  background: #00bcfe;
}
.b_user_page .b_opinions .b_comment .social a:hover.c4 {
  background: #ff903c;
}
.b_user_page .b_opinions .b_comment .social a:hover.c5 {
  background: #ff5d42;
}

/* blogs */
article.blogs {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  margin: 20px;
  padding: 20px;
}
article.blogs .left {
  width: 424px;
  float: left;
  border: none;
}
article.blogs .right {
  width: 424px;
  float: right;
}

.b_blogs_elem {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 0 20px;
}
.b_blogs_elem .image {
  position: relative;
}
.b_blogs_elem .image img {
  display: block;
}
.b_blogs_elem .image .i {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e84c4d;
  width: 60px;
  text-align: center;
  border-radius: 6px;
}
.b_blogs_elem .image .i .date {
  border-radius: 6px;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 8px 0 4px;
}
.b_blogs_elem .image .i .date span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
.b_blogs_elem .image .i .comment {
  background: #272727;
  color: #fff;
  line-height: 28px;
  border-radius: 6px;
}
.b_blogs_elem .image .i .comment a {
  color: #fff;
}
.b_blogs_elem > .i {
  padding: 20px;
}
.b_blogs_elem > .i h4 {
  border-bottom: 1px solid #e7e7e7;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 10px;
  margin: 0 0 10px;
}
.b_blogs_elem > .i h4 a:hover {
  color: #e64b49;
}
.b_blogs_elem > .i p {
  font-size: 14px;
  color: #727272;
  line-height: 18px;
  margin: 0 0 10px;
}
.b_blogs_elem .b_tag {
  padding: 10px 0 0 0;
}

.b_tags_search .d {
  padding: 10px 20px !important;
}
.b_tags_search .d a.tag {
  float: left;
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  background: #f0f0f0;
  padding: 0 10px;
  margin: 0 8px 10px 0;
}
.b_tags_search .d a.all {
  text-decoration: underline;
  display: inline-block;
  margin: 10px 0 20px;
  color: #e64b49;
}
.b_tags_search .d a.all:hover {
  text-decoration: none;
}

/* daslider */
.da-slider {
  width: 100%;
  min-width: 520px;
  height: 400px;
  position: relative;
  margin: 0px auto 20px;
  overflow: hidden;
  background: transparent url(../images/waves.gif) repeat 0% 0%;
  border-top: 8px solid #efc34a;
  border-bottom: 8px solid #efc34a;
  -webkit-transition: background-position 1.4s ease-in-out 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s;
}

.da-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.da-slide-current {
  z-index: 1000;
}

.da-slider-fb .da-slide {
  left: 100%;
}

.da-slider-fb .da-slide.da-slide-current {
  left: 0px;
}

.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img {
  position: absolute;
  opacity: 0;
  left: 110%;
}

.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link {
  left: 10%;
  opacity: 1;
}

.da-slider-fb .da-slide .da-img {
  left: 60%;
  opacity: 1;
}

.da-slide h2 {
  color: #fff;
  font-size: 66px;
  width: 50%;
  top: 60px;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
}

.da-slide p {
  width: 45%;
  top: 155px;
  color: #916c05;
  font-size: 18px;
  line-height: 26px;
  height: 100px;
  overflow: hidden;
  font-style: italic;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.da-slide .da-img {
  text-align: center;
  width: 30%;
  top: 70px;
  height: 256px;
  line-height: 320px;
  left: 110%;
  /*60%*/
}

.da-slide .da-link {
  top: 290px;
  /*Зависит от высоты p */
  border-radius: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 8px solid rgba(255, 255, 255, 0.8);
  padding: 2px 20px 3px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
}

.da-slide .da-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.da-dots {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 20px;
  z-index: 2000;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.da-dots span {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e4b42d;
  margin: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.da-dots span.da-dots-current:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.da-arrows {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.da-arrows span {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #e4b42d;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}

.da-slider:hover .da-arrows span {
  opacity: 1;
}

.da-arrows span:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  background: transparent url(../images/arrows.png) no-repeat top left;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.da-arrows span:hover:after {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.da-arrows span:active:after {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.da-arrows span.da-arrows-next:after {
  background-position: top right;
}

.da-arrows span.da-arrows-prev {
  left: 15px;
}

.da-arrows span.da-arrows-next {
  right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link {
  left: 10%;
  opacity: 1;
}

.da-slide-current .da-img {
  left: 60%;
  opacity: 1;
}

/*Классы анимации и сами анимации */
/* Выскальзывание справа */
.da-slide-fromright h2 {
  -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  animation: fromRightAnim1 0.6s ease-in 0.8s both;
}

.da-slide-fromright p {
  -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  animation: fromRightAnim2 0.6s ease-in 0.8s both;
}

.da-slide-fromright .da-link {
  -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  animation: fromRightAnim3 0.4s ease-in 1.2s both;
}

.da-slide-fromright .da-img {
  -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  animation: fromRightAnim4 0.6s ease-in 0.8s both;
}

@-webkit-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
/* Выскальзывание слева */
.da-slide-fromleft h2 {
  -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}

.da-slide-fromleft p {
  -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}

.da-slide-fromleft .da-link {
  -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}

.da-slide-fromleft .da-img {
  -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}

@-webkit-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
/* Плавный уход вправо */
.da-slide-toright h2 {
  -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
  animation: toRightAnim1 0.6s ease-in 0.6s both;
}

.da-slide-toright p {
  -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
  animation: toRightAnim2 0.6s ease-in 0.3s both;
}

.da-slide-toright .da-link {
  -webkit-animation: toRightAnim3 0.4s ease-in both;
  -moz-animation: toRightAnim3 0.4s ease-in both;
  -o-animation: toRightAnim3 0.4s ease-in both;
  -ms-animation: toRightAnim3 0.4s ease-in both;
  animation: toRightAnim3 0.4s ease-in both;
}

.da-slide-toright .da-img {
  -webkit-animation: toRightAnim4 0.6s ease-in both;
  -moz-animation: toRightAnim4 0.6s ease-in both;
  -o-animation: toRightAnim4 0.6s ease-in both;
  -ms-animation: toRightAnim4 0.6s ease-in both;
  animation: toRightAnim4 0.6s ease-in both;
}

@-webkit-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
/* Плавный уход влево */
.da-slide-toleft h2 {
  -webkit-animation: toLeftAnim1 0.6s ease-in both;
  -moz-animation: toLeftAnim1 0.6s ease-in both;
  -o-animation: toLeftAnim1 0.6s ease-in both;
  -ms-animation: toLeftAnim1 0.6s ease-in both;
  animation: toLeftAnim1 0.6s ease-in both;
}

.da-slide-toleft p {
  -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  animation: toLeftAnim2 0.6s ease-in 0.3s both;
}

.da-slide-toleft .da-link {
  -webkit-animation: toLeftAnim3 0.4s ease-in both;
  -moz-animation: toLeftAnim3 0.4s ease-in both;
  -o-animation: toLeftAnim3 0.4s ease-in both;
  -ms-animation: toLeftAnim3 0.4s ease-in both;
  animation: toLeftAnim3 0.4s ease-in both;
}

.da-slide-toleft .da-img {
  -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  animation: toLeftAnim4 0.6s ease-in 0.6s both;
}

@-webkit-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 70%;
    opacity: 1;
  }
  90% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 70%;
    opacity: 1;
  }
  90% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 70%;
    opacity: 1;
  }
  90% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 70%;
    opacity: 1;
  }
  90% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 70%;
    opacity: 1;
  }
  90% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
