<div class="b_add_social">
	<div class="select">
		<select>
			<option value="">Вконтакте</option>
			<option value="">Facebook</option>
			<option value="">Twitter</option>
		</select>
	</div>
	<input type="text">
	<button class="red1">Удалить</button>
	<div class="clear"></div>
</div>