<div class="b_big_game_elem">
	<div class="info">
		<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur dolor sit amet, consectetur</p>
		<div class="b_stats">
			<a href=""><i class="icon comment_white"></i>0</a>
			<a href=""><i class="icon up_white"></i>23</a>
			<a href=""><i class="icon down_white"></i>2</a>
		</div>
	</div>
	<img src="files/game.jpg">
</div>