<div class="b_blog_elem">
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
	</div>
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur dolor sit amet, consectetur</a></h4>
	<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
</div>