<div class="b_blogs_elem">
	<div class="image">
		<img src="files/blogs_elem.png">
		<div class="i">
			<div class="date"><span>23</span>сентября</div>
			<div class="comment"><a href=""><i class="icon comment_white"></i>5</a></div>
		</div>
	</div>
	<div class="i">
		<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
		<div class="b_stats">
			<a href=""><i class="icon tag"></i>Киберспорт</a>
			<span class="time"><i class="icon time"></i>8 sep, 2014</span>
			<a href=""><i class="icon user_gray"></i>Pavel</a>
			<a href=""><i class="icon up"></i>23</a>
			<a href=""><i class="icon down"></i>2</a>
		</div>
	</div>
</div>
<div class="b_blogs_elem">
	<div class="i">
		<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
		<div class="b_stats">
			<a href=""><i class="icon tag"></i>Киберспорт</a>
			<span class="time"><i class="icon time"></i>8 sep, 2014</span>
			<a href=""><i class="icon user_gray"></i>Pavel</a>
			<a href=""><i class="icon up"></i>23</a>
			<a href=""><i class="icon down"></i>2</a>
		</div>
	</div>
</div>