<div class="b_blog_elem1">
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur dolor sit</a></h4>
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon user_gray"></i>Pavel</a>
		<a href=""><i class="icon comment"></i>0</a>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
	</div>
	<div class="b_tag">
		Теги: 
		<a href="">Киберспорт</a>
		<a href="">Новости</a>
	</div>
</div>