<div class="b_change_avatar">
	<div class="image">
		
	</div>
	<div class="load">
		<div class="box">
			<button class="gray"><input type="file">Выбрать файл</button>
			<button class="red">Загрузить</button>
		</div>
		<button class="red1">Удалить</button>
	</div>
	<div class="clear"></div>
</div>