<li class="b_film_elem">
	<a href=""><img src="files/film.png"></a>
	<div class="info">
		<span class="date"><i class="icon time_black"></i> 8 sep, 2014</span>
		<h4><a href="">IN fringilla dui vitae erat cursus</a></h4>
	</div>
</li>