<div class="e">
	<div class="image"><img src="files/ava.png"></div>
	<div class="time">
		<button class="red" data-toggle-class="gray" data-toggle-text="Не следить"><i class="icon follow"></i>Следить</button>
		<button class="red1"><i class="icon remove"></i>Удалить из друзей</button>
	</div>
	<div class="text">
		<div class="title">Yanovskaya256</div>
		<div class="b_stats">
			<a href=""><i class="icon up"></i>23</a>
			<a href=""><i class="icon down"></i>2</a>
			<span class="rate">Рейтинг: 12</span>
		</div>
	</div>
</div>