<div class="b_game">
	<img src="files/game2.png">
	<div class="i">
		<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit</p>
		<button class="red">Читать</button>
	</div>
</div>