<div class="b_game_elem">
	<a href=""><img src="files/game1.jpg"></a>
	<div class="info">
		<h4><a href="">Lorem ipsum dolor sit amet, consectetur amet</a></h4>
		<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
		<div class="b_stats">
			<span class="time"><i class="icon time"></i>8 sep, 2014</span>
			<a href=""><i class="icon comment"></i>0</a>
			<a href=""><i class="icon up"></i>23</a>
			<a href=""><i class="icon down"></i>2</a>
		</div>
	</div>
</div>