<div class="b_inner_news_elem">
	<a href=""><img src="files/news_inner.png"></a>
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
	</div>
	<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
</div>