<table class="b_keys">
	<tr>
		<th>Аватар</th>
		<th>Социальные сети</th>
		<th>Никнеймы</th>
		<th>Action</th>
	</tr>
	<tr>
		<td><img src="files/ava1.png"></td>
		<td>Facebook</td>
		<td>Ф.И.О.</td>
		<td><button class="red1">Отключить</button></td>
	</tr>
	<tr>
		<td><img src="files/ava1.png"></td>
		<td>Facebook</td>
		<td>Ф.И.О.</td>
		<td><button class="red1">Отключить</button></td>
	</tr>
</table>