<div class="b_message_send">
	<div class="image"><i class="icon message_send"></i></div>
	<div class="data">
		<div class="title">Добавить сообщение</div>
		<div class="b_user">
			<div class="image"><img src="files/ava.png" alt=""></div>
			<div class="data">
				<div class="name">Klavdia</div>
			</div>
		</div>
		<form action="">
			<textarea></textarea>
			<button class="red">Отправить</button>
		</form>
	</div>
</div>