<div class="b_message">
	<div class="image"><img src="files/ava.png" alt=""></div>
	<div class="data">
		<div class="name">Klavdia</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tellus suscipit, maximus velit eget, eleifend risus. Fusce a magna non velit elementum laoreet. Cras ac eros quis odio euismod fringilla eget ac metus. Ut ligula ante, bibendum dignissim justo non, placerat cursus dui. Vivamus dignissim urna ac fringilla consequat. Pellentesque tortor nunc, feugiat vitae facilisis egestas, iaculis a massa. Suspendisse et sapien neque.</p>
		<div class="b_stats">
			<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		</div>
	</div>
</div>