<div class="b_news_big">
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur dolor sit</a></h4>
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon comment"></i>0</a>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
		<span class="view"><i class="icon view"></i>10</span>
		<a href=""><i class="icon tag"></i>Киберспорт</a>
	</div>
	<a href=""><img src="files/news_big.png"></a>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
	<div class="b_tag">Теги: <a href="">Киберспорт</a> <a href="">Платформы</a></div>
	<button class="red">Подробнее</button>
</div>