<div class="b_news_open">
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur dolor sit</a></h4>
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon comment"></i>0</a>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
		<a href=""><i class="icon tag"></i>Киберспорт</a>
		<span class="view"><i class="icon view"></i>10</span>
	</div>
	<a href=""><img src="files/news_big.png"></a>
	<div class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
	<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sagittis suscipit ligula in fermentum. Suspendisse ac condimentum risus. Fusce lobortis ligula at lacus suscipit, ut ultrices urna vehicula. Mauris egestas convallis arcu, non luctus leo bibendum at. </p>
	<ul>
		<li>Proin in elementum mauris, vitae ornare felis. </li>
		<li>Duis non dapibus risus. </li>
		<li>Vivamus eu sodales diam.</li>
	</ul>
	<div class="label">Proin viverra finibus nisl, hendrerit vehicula erat luctus rutrum. </div>
	<p>Sed quis tincidunt risus. Nam sollicitudin nulla in erat accumsan consequat. Nulla tincidunt, ligula vehicula dictum venenatis, ipsum eros venenatis elit, <a href="">eu lacinia nibh</a> massa imperdiet urna. Sed vitae lacus elit. Pellentesque sodales, lectus at convallis luctus, felis diam finibus enim, nec imperdiet felis lectus eu leo. Nunc at bibendum ligula, ac porta mauris. Sed rhoncus turpis ut dictum consequat. Quisque dictum maximus scelerisque. Ut tristique tortor eget mauris pellentesque bibendum. Donec vehicula sem tristique mauris lacinia cursus. Nulla sed commodo orci.</p>
	<div class="social">
		<a class="c1" href=""><i class="icon so1"></i></a>
		<a class="c2" href=""><i class="icon so2"></i></a>
		<a class="c3" href=""><i class="icon so3"></i></a>
		<a class="c4" href=""><i class="icon so4"></i></a>
		<a class="c5" href=""><i class="icon so5"></i></a>
	</div>
	<div class="b_tag">
		Теги: 
		<a href="">Киберспорт</a>
		<a href="">Новости</a>
	</div>
	<div class="clear"></div>
</div>
<div class="b_comments">
	<div class="title">
		<span>2 Комментария</span>
		<div class="clear"></div>
	</div>
	<div class="b_comment">
		<div class="image">
			<img src="files/ava.png">
		</div>
		<div class="i">
			<div class="b_control">
				<a href="">Удалить</a>
				<a href="">Редактировать</a>
			</div>
			<div class="b_stats">
				<a href="" class="user">Inna</a>
				<span class="time"><i class="icon time"></i>8 sep, 2014</span>
				<a href=""><i class="icon up"></i>23</a>
				<a href=""><i class="icon down"></i>2</a>
			</div>
			<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			<a href="" data-toggle-text="Отменить" class="add">Ответить</a>
		</div>
		<hr>
		<div class="slot">
			<div class="b_comment">
				<div class="image">
					<img src="files/ava.png">
				</div>
				<div class="i">
					<div class="b_stats">
						<a href="" class="user">Inna</a>
						<span class="time"><i class="icon time"></i>8 sep, 2014</span>
						<a href=""><i class="icon up"></i>23</a>
						<a href=""><i class="icon down"></i>2</a>
					</div>
					<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
					<a href="" data-toggle-text="Отменить" class="add">Ответить</a>
				</div>
				<hr>
				<div class="slot">
					<div class="b_comment">
						<div class="image">
							<img src="files/ava.png">
						</div>
						<div class="i">
							<div class="b_stats">
								<a href="" class="user">Inna</a>
								<span class="time"><i class="icon time"></i>8 sep, 2014</span>
								<a href=""><i class="icon up"></i>23</a>
								<a href=""><i class="icon down"></i>2</a>
							</div>
							<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
							<a href="" data-toggle-text="Отменить" class="add">Ответить</a>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b_comment">
		<div class="image">
			<img src="files/ava.png">
		</div>
		<div class="i">
			<div class="b_stats">
				<a href="" class="user">Inna</a>
				<span class="time"><i class="icon time"></i>8 sep, 2014</span>
				<a href=""><i class="icon up"></i>23</a>
				<a href=""><i class="icon down"></i>2</a>
			</div>
			<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			<a href="" data-toggle-text="Отменить" class="add">Ответить</a>
		</div>
		<hr>
	</div>
	<div class="form_spot">
		<div class="add_comment">
			<div class="t">
				<i class="icon add_comment"></i>Добавить комментарий
			</div>
			<div class="image">
				<img src="files/ava.png">
			</div>
			<div class="i">Klavdia</div>
			<div class="clear"></div>
			<textarea placeholder="Введите текст"></textarea>
			<button class="red">Отправить</button>
		</div>
	</div>
</div>