<div class="b_news_elem">
	<a href=""><img src="files/news.png"></a>
	<div class="b_stats">
		<span class="time"><i class="icon time"></i>8 sep, 2014</span>
		<a href=""><i class="icon comment"></i>0</a>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
		<span class="view"><i class="icon view"></i>10</span>
	</div>
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur</a></h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
</div>