<div class="e">
	<div class="image"><i class="icon n1"></i></div>
	<div class="time">
		<i class="icon time_big"></i>
		<span>25.09.B 05:12</span>
	</div>
	<div class="text">
		<div class="title"><a href="">Lorem ipsum</a></div>
		<p>Ответил на сообщение <a href="">bla bla</a></p>
	</div>
</div>
<div class="e">
	<div class="image"><i class="icon n2"></i></div>
	<div class="time">
		<i class="icon time_big"></i>
		<span>25.09.B 05:12</span>
	</div>
	<div class="text">
		<div class="title"><a href="">Lorem ipsum</a></div>
		<p>Ответил на сообщение <a href="">bla bla</a></p>
	</div>
</div>
<div class="e">
	<div class="image"><i class="icon n3"></i></div>
	<div class="time">
		<i class="icon time_big"></i>
		<span>25.09.B 05:12</span>
	</div>
	<div class="text">
		<div class="title"><a href="">Lorem ipsum</a></div>
		<p>Ответил на сообщение <a href="">bla bla</a></p>
	</div>
</div>
<div class="e">
	<div class="image"><i class="icon n4"></i></div>
	<div class="time">
		<i class="icon time_big"></i>
		<span>25.09.B 05:12</span>
	</div>
	<div class="text">
		<div class="title"><a href="">Lorem ipsum</a></div>
		<p>Ответил на сообщение <a href="">bla bla</a></p>
	</div>
</div>