<ul class="b_paginator">
	<li><a href="">«</a></li>
	<li><a class="active" href="">1</a></li>
	<li><a href="">2</a></li>
	<li><a href="">3</a></li>
	<li><a href="">4</a></li>
	<li><a href="">5</a></li>
	<li><a href="">»</a></li>
</ul>