<div class="b_platform_elem">
	<a class="image" href="">
		<img src="files/platform.png">
		<div class="stats">
			<span>Железо</span><button><i class="icon rstr"></i></button>
			<div class="clear"></div>
		</div>
	</a>
	<h4><a href="">Lorem ipsum dolor sit amet, consectetur</a></h4>
</div>