<div class="b_quad_box">
	<div class="stats">
		<span>Железо</span><button><i class="icon rstr"></i></button>
		<div class="clear"></div>
		<a href=""><i class="icon up"></i>23</a>
		<a href=""><i class="icon down"></i>2</a>
	</div>
	<a href="">
		<img src="files/quad.jpg">
		<span class="title">Lorem ipsum dolor sit amet</span>
	</a>
</div>