<div class="b_search_form">
	<form action="">
		<input type="text" placeholder="Введите текст">
		<button><i class="icon news_button1"></i>Новости (5)</button>
		<button class="black"><i class="icon news_button2"></i>Посты (50)</button>
	</form>
</div>