<div class="b_search_elem">
	<a href=""><img src="files/search_elem.png"></a>
	<div class="info">
		<h4><a href="">Lorem ipsum dolor sit amet, consectetur amet</a></h4>
		<div class="b_stats">
			<span class="time"><i class="icon time"></i>8 sep, 2014</span>
			<a href=""><i class="icon comment"></i>0</a>
			<a href=""><i class="icon up"></i>23</a>
			<a href=""><i class="icon down"></i>2</a>
			<a href=""><i class="icon tag"></i>Киберспорт</a>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, quam sed imperdiet mattis, nulla ipsum elementum arcu, sit amet commodo leo ex sit amet nulla.</p>
		<div class="b_tag">Теги: <a href="">Киберспорт</a> <a href="">Платформы</a></div>
		<button class="red">Подробнее</button>
	</div>
</div>