<div class="b_subscribe">
	<div class="c1">
		<img src="files/google.png">
	</div>
	<div class="c2">
		<div class="title"><span><a href="">google</a></span></div>
		<p>Всё про язык програмирования Ruby</p>
	</div>
	<div class="c3">
		кол-во постов
		<a href="">32</a>
	</div>
	<div class="c3">
		подписчиков
		<a href="">11 430</a>
	</div>
	<div class="c3">
		<button class="red1" data-toggle-class="gray" data-toggle-text="Отписаться">Подписаться</button>
	</div>
</div>