<div class="b_video_elem">
	<div class="image">
		<i class="icon video"></i>
		<a href=""><img src="files/item.png"></a>
	</div>
	<div class="data">
		<h4><a href="">Lorem ipsum dolor sit amet, consectetur dolor sit amet</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
		<div class="b_stats">
			<a href=""><i class="icon comment_gray"></i>0</a>
			<a href=""><i class="icon up_gray"></i>23</a>
			<a href=""><i class="icon down_gray"></i>2</a>
			<span class="view"><i class="icon view_gray"></i>10</span>
		</div>
	</div>
</div>