include "popups.html"
<footer>
	<div class="wrapper">
		<div class="left">
			<div class="logo">
				<a href=""><i class="icon logo"></i></a>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="social">
				<a href=""><i class="icon so1"></i></a>
				<a href=""><i class="icon so2"></i></a>
				<a href=""><i class="icon so3"></i></a>
				<a href=""><i class="icon so4"></i></a>
				<a href=""><i class="icon so5"></i></a>
			</div>
		</div>
		<div class="right">
			<div class="label">Информация</div>
			<ul>
				<li><i class="icon footer_li"></i><a href="">Помощь</a></li>
				<li><i class="icon footer_li"></i><a href="">О нас</a></li>
				<li><i class="icon footer_li"></i><a href="">Условия пользования</a></li>
				<li><i class="icon footer_li"></i><a href="">Реклама</a></li>
				<li><i class="icon footer_li"></i><a href="">Вакансии</a></li>
			</ul>
			<div class="i18">18+</div>
		</div>
		<div class="clear"></div>
	</div>
</footer>
<div class="copyright">
	<div class="wrapper">
		Copyright 2014 Logo Gamer. All right Reserved
		<div class="counters">
			<a href=""><img src="media/images/counter1.png"></a>
			<a href=""><img src="media/images/counter2.png"></a>
			<a href=""><img src="media/images/counter3.png"></a>
		</div>
	</div>
</div>