<header>
	<div class="wrapper">
		<div class="logo">
			<a href=""><i class="icon logo"></i></a>
		</div>
		<div class="notif">
			<a href=""><i class="icon mail_white"></i></a>
		</div>
		<div class="prem">
			<a href=""><i class="icon prem"></i></a>
		</div>
		<div class="user"><a href=""><i class="icon logout_black"></i></a></div>
		<div class="user">
			<div class="a">
				<img src="files/ava1.png">
			</div>
			<div class="name"><a href="">ОЛЕГ СКОРЛУПКА<i class="icon dstr1"></i></a></div>
			<ul class="dropdown">
				<li><a href="">Друзья</a></li>
				<li><a href="">Сообщения</a></li>
				<li><a href="">Мои посты</a></li>
				<li><a href="">Настройки</a></li>
			</ul>
		</div>
		<div class="search">
			<form action="">
				<input placeholder="Search" type="text">
				<button><i class="icon search"></i></button>
			</form>
		</div>
		<div class="social">
			<a href=""><i class="icon so1"></i></a>
			<a href=""><i class="icon so2"></i></a>
			<a href=""><i class="icon so3"></i></a>
			<a href=""><i class="icon so4"></i></a>
			<a href=""><i class="icon so5"></i></a>
		</div>
		<div class="clear"></div>
		<div class="menu">
			<nav>
				<li><a href=""><i class="icon home"></i></a></li>
				<li>
					<a href="">Новости<i class="icon str"></i></a>
					<ul>
						<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 3</a><span class="sub">+</span></li>
					</ul>
				</li>
				<li>
					<a href="">Блоги<i class="icon str"></i></a>
					<ul>
						<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 3</a><span class="sub">+</span></li>
					</ul>
				</li>
				<li><a href="">Игры<i class="icon str"></i></a></li>
				<li><a href="">Кино<i class="icon str"></i></a></li>
				<li><a href="">Железо<i class="icon str"></i></a></li>
				<li><a href="">Киберспорт<i class="icon str"></i></a></li>
				<li><a href="">Платформы<i class="icon str"></i></a></li>
				<li><a href="">Видео<i class="icon str"></i></a></li>
				<li><a href="">Галерея<i class="icon str"></i></a></li>
				<li><a href=""><span>Live</span></a></li>
				<li><a href=""><span>Faq</span></a></li>
				<div class="clear"></div>
			</nav>
		</div>
	</div>
</header>