<header>
	<div class="wrapper">
		<div class="logo">
			<a href=""><i class="icon logo"></i></a>
		</div>
		<div class="prem">
			<a href=""><i class="icon prem_p"></i></a>
		</div>
		<div class="user">
			<a href="" data-role="popup_open" data-target="#register" class="color"><i class="icon plus"></i>Register</a>
			<a href="" data-role="popup_open" data-target="#login" class="color"><i class="icon user"></i>Login</a>
		</div>
		<div class="search">
			<form action="">
				<input placeholder="Search" type="text">
				<button><i class="icon search"></i></button>
			</form>
		</div>
		<div class="social">
			<a href=""><i class="icon so1"></i></a>
			<a href=""><i class="icon so2"></i></a>
			<a href=""><i class="icon so3"></i></a>
			<a href=""><i class="icon so4"></i></a>
			<a href=""><i class="icon so5"></i></a>
		</div>
		<div class="clear"></div>
		<div class="menu">
			<nav>
				<li><a href=""><i class="icon home"></i></a></li>
				<li>
					<a href="">Новости<i class="icon str"></i></a>
					<ul>
						<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 3</a><span class="sub">+</span></li>
					</ul>
				</li>
				<li>
					<a href="">Блоги<i class="icon str"></i></a>
					<ul>
						<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
						<li><a href=""><i class="icon dot"></i>Категория 3</a><span class="sub">+</span></li>
					</ul>
				</li>
				<li><a href="">Игры<i class="icon str"></i></a></li>
				<li><a href="">Кино<i class="icon str"></i></a></li>
				<li><a href="">Железо<i class="icon str"></i></a></li>
				<li><a href="">Киберспорт<i class="icon str"></i></a></li>
				<li><a href="">Платформы<i class="icon str"></i></a></li>
				<li><a href="">Видео<i class="icon str"></i></a></li>
				<li><a href="">Галерея<i class="icon str"></i></a></li>
				<li><a href=""><span>Live</span></a></li>
				<li><a href=""><span>Faq</span></a></li>
				<div class="clear"></div>
			</nav>
		</div>
	</div>
</header>