<header class="c404">
	<div class="wrapper">
		<div class="logo">
			<a href=""><i class="icon logo"></i></a>
		</div>
		<div class="user">
			<a href="" data-role="popup_open" data-target="#register" class="color"><i class="icon plus"></i>Register</a>
			<a href="" data-role="popup_open" data-target="#login"><i class="icon user"></i>Login</a>
		</div>
		<div class="search">
			<form action="">
				<input placeholder="Search" type="text">
				<button><i class="icon search"></i></button>
			</form>
		</div>
		<div class="social">
			<a href=""><i class="icon header_social1"></i></a>
			<a href=""><i class="icon header_social2"></i></a>
			<a href=""><i class="icon header_social3"></i></a>
			<a href=""><i class="icon header_social4"></i></a>
			<a href=""><i class="icon header_social5"></i></a>
			<a href=""><i class="icon header_social6"></i></a>
		</div>
		<div class="clear"></div>
	</div>
</header>