include "partials/head.html"
include "partials/header_404.html"
<section class="c404">
	<div class="wrapper">
		<h3>Ошибка 404</h3>
		<div class="text">
			<h4>Вы ищите страницу, <br> которой не существует</h4>
			<p>Вы набрали неправильный адрес. Пожалуйста перейдите на главную страницу или воспользуйтесь кнопками приведенными ниже</p>
			<div class="btns">
				<button class="red">Вернуться назад</button>
				<button class="red black">На главную</button>
			</div>
		</div>
	</div>
</section>
include "partials/foot.html"