include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> О нас
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">О нас</div>
					</div>
					<div class="d active">
						<article class="text">
							<h1>Deal of the week: certified adibe training thor: the dark world</h1>
							<img class="right" src="files/article1.png" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis felis nec ipsum vestibulum interdum. Quisque euismod condimentum elit, quis pulvinar ligula. Pellentesque non quam vel urna semper convallis at vel nisi. Fusce id eros a enim dapibus imperdiet aliquam in enim. Praesent scelerisque tempus nisl, eu rutrum justo laoreet a. Proin mollis mi non risus euismod vestibulum. Phasellus bibendum eleifend semper. Nulla ullamcorper ultrices consequat. Etiam massa lectus, semper at nibh sit amet, condimentum semper ex. Maecenas cursus nec tortor quis efficitur.</p>
							<p>Donec interdum arcu iaculis odio porta ultrices. Nam vitae finibus nunc, vitae laoreet diam. Quisque lobortis volutpat ligula, placerat sagittis dolor laoreet at. Mauris tristique erat quam, et lobortis ligula accumsan a. Aenean convallis ullamcorper sem et bibendum. Etiam finibus dui quis varius eleifend. Phasellus ut tempor urna. Morbi consequat augue a neque vestibulum molestie. Maecenas ultrices eleifend faucibus. Aliquam congue mollis magna nec bibendum. Fusce ipsum arcu, ullamcorper vitae pharetra sed, tincidunt porttitor augue.</p>
							<img class="left" src="files/article.png" alt="">
							<p>Aenean molestie dolor nec magna consequat accumsan. Nam at orci a elit dictum efficitur in in dui. Donec venenatis elit sit amet dolor dictum accumsan. Curabitur euismod lacinia velit suscipit ornare. Nullam sollicitudin iaculis porta. In non bibendum massa. Cras placerat ante a nisl tempus imperdiet. Pellentesque fringilla magna non augue rutrum, id sollicitudin ligula mollis. Fusce faucibus sed augue eget hendrerit. Phasellus efficitur lobortis risus, a efficitur augue luctus ut. Nullam nec elit convallis, consectetur eros eget, condimentum diam. Quisque libero velit, interdum ut libero eget, viverra condimentum nulla. Nullam a orci et velit dapibus rutrum et sed mauris. Donec sed malesuada turpis. Fusce eget tortor urna.</p>
							<p>Duis efficitur mauris ut lorem dignissim sollicitudin. In hac habitasse platea dictumst. Quisque sed condimentum metus. Vestibulum placerat nulla nunc, vitae placerat felis sodales a. Cras fermentum accumsan ex, consectetur fringilla arcu pellentesque non. Duis auctor pellentesque ullamcorper. Donec gravida, lorem quis vehicula fringilla, neque dui scelerisque tortor, eget varius tortor neque eu nisi. Fusce vitae purus sed magna suscipit pharetra. Phasellus maximus tellus libero, a facilisis odio faucibus id. Proin consequat turpis lectus, commodo mattis felis vulputate ut. Nam in ipsum pulvinar, porta dolor nec, placerat est.</p>
							<p>Suspendisse potenti. Sed sodales eros mattis ante condimentum, nec finibus lacus malesuada. Nam ac nisi vel nulla auctor congue eu vel arcu. Aliquam suscipit, lacus eu aliquam pharetra, justo diam ullamcorper arcu, ut tempor libero nisl id velit. Cras a accumsan risus. Ut quis tortor vel ex pellentesque volutpat et in tortor. Etiam id nulla id nulla imperdiet vestibulum nec vulputate nunc. Fusce aliquet quam vitae ante ornare, sed sodales ante porta. Morbi sagittis erat sit amet odio pretium, id maximus odio lobortis. Sed maximus lacus erat, non sodales orci rutrum ac. Aliquam faucibus congue quam eu maximus.</p>
							<div class="b_banner"><a href=""><img src="files/banner4.png"></a></div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel239">
					<div class="h">
						<div class="title">Топ блоги</div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
						</li>
					</ul>
				</div>
				<div class="b_head_box carusel239">
					<div class="h bdt">
						<div class="title">Топ Новости</div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_inner_news_elem.html"
							include "partials/b_inner_news_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_inner_news_elem.html"
							include "partials/b_inner_news_elem.html"
						</li>
					</ul>
				</div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"