include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Блоги
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">Блоги</div>
					</div>
					<div class="d active">
						<article class="blogs">
							<div class="left">
								<div class="b_blogs_elem">
									<div class="image">
										<img src="files/blogs_elem.png">
										<div class="i">
											<div class="date"><span>23</span>сентября</div>
											<div class="comment"><a href=""><i class="icon comment_white"></i>5</a></div>
										</div>
									</div>
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="image">
										<img src="files/blogs_elem.png">
										<div class="i">
											<div class="date"><span>23</span>сентября</div>
											<div class="comment"><a href=""><i class="icon comment_white"></i>5</a></div>
										</div>
									</div>
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
							</div>
							<div class="right">
								<div class="b_blogs_elem">
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="image">
										<img src="files/blogs_elem.png">
										<div class="i">
											<div class="date"><span>23</span>сентября</div>
											<div class="comment"><a href=""><i class="icon comment_white"></i>5</a></div>
										</div>
									</div>
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
								<div class="b_blogs_elem">
									<div class="image">
										<img src="files/blogs_elem.png">
										<div class="i">
											<div class="date"><span>23</span>сентября</div>
											<div class="comment"><a href=""><i class="icon comment_white"></i>5</a></div>
										</div>
									</div>
									<div class="i">
										<h4><a href="">Lorem ipsum dolor sit amet</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt elit, sed do eiusmod tempor incididunt</p>
										<div class="b_stats">
											<a href=""><i class="icon tag"></i>Киберспорт</a>
											<span class="time"><i class="icon time"></i>8 sep, 2014</span>
											<a href=""><i class="icon user_gray"></i>Pavel</a>
											<a href=""><i class="icon up"></i>23</a>
											<a href=""><i class="icon down"></i>2</a>
										</div>
										<div class="b_tag">Теги: <a href="">Тег</a> <a href="">Тег</a></div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							include "partials/b_paginator.html"
							<div class="clear"></div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box b_tags">
					<div class="h">
						<div class="title">Категории</div>
					</div>
					<div class="d active">
						<ul>
							<li>
								<a href="">Games <span>(3)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">News <span>(4)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">Hardware news <span>(5)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">GameTrailers <span>(6)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="b_head_box b_tags_search">
					<div class="h bdt">
						<div class="title">Поиск по тегам</div>
					</div>
					<div class="d active">
						<a class="tag" href="">Видео</a>
						<a class="tag" href="">Блоги</a>
						<a class="tag" href="">Новости</a>
						<a class="tag" href="">Кино</a>
						<a class="tag" href="">Киберспорт</a>
						<a class="tag" href="">Спорт</a>
						<a class="tag" href="">Железо</a>
						<a class="tag" href="">Игры</a>
						<div class="clear"></div>
						<a href="" class="all">Показать все теги</a>
					</div>
				</div>
				<div class="b_head_box carusel239">
					<div class="h bdt">
						<div class="title">Последние блоги</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_blog_elem5.html"
							include "partials/b_blog_elem5.html"
						</li>
					</ul>
				</div>
				<div class="b_head_box carusel239">
					<div class="h bdt">
						<div class="title">Топ Новости</div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_inner_news_elem.html"
							include "partials/b_inner_news_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_inner_news_elem.html"
							include "partials/b_inner_news_elem.html"
						</li>
					</ul>
				</div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"