include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Киберспорт
		</div>
		<div class="box b_index">
			<div class="b_head_box">
				<div class="h bdt">
					<div class="title"><a href="">Дисциплины</a></div>
				</div>
				<div class="d b_dis active">
					<div class="clear"></div>
					<a class="active" href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<a href="">Название</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="left">
				<div class="b_head_box carusel776">
					<div class="h bdt">
						<div class="title"><a href="">Текущие турницы</a></div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							<div class="clear"></div>
						</li>
						<li data-elems="2" class="d">
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							include "partials/b_big_item_elem.html"
							<div class="clear"></div>
						</li>
					</ul>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h bdt">
						<div class="title"><a href="">Будущие турниры</a></div>
					</div>
					<div class="d active">
						<div class="clear"></div>
						include "partials/b_games.html"
						include "partials/b_games.html"
						include "partials/b_games.html"
						include "partials/b_games.html"
						include "partials/b_games.html"
						<button class="border mar gr">Посмотреть все будушие турниры</button>
						
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Видео</a></div>
					</div>
					<div class="d b_video_big active">
						<img src="files/video.png">
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel423 black">
					<div class="h">
						<div class="title"></div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left_black"></i></a>
							<a href="" class="right"><i class="icon arrow_right_black"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
						</li>
					</ul>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Новости</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Последние</span></a></li>
							<li><a data-elems="2" href=""><span>Топ</span></a></li>
						</ul>
					</div>
					<div data-elems="1" class="d active">
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d">
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel423">
					<div class="h">
						<div class="title"><a href="">Картинки</a></div>
					</div>
					<div class="d b_gallery active">
						<div class="b_banner"><a href=""><img src="files/banner6.png"></a></div>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<div class="clear"></div>
						<button class="border">Смотреть картинки</button>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner"><a href=""><img src="files/banner2.png"></a></div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"