include "partials/head.html"
include "partials/header.html"
<section>
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>Сердечное добропожаловать</h2>
			<p>Глядя в постные мор..., пардон, лица продавцов в каких-нибудь бутиках по продаже элитных тачек-телефонов-тряпок, создается впечателение, что ты им обязан. Так и кажется, что сейчас это создание откроет свое отверстие для приема пищи и рявкнет: "Ну а раз обязан, то давай сюда деньги и пшел вон - не машай созерцать вечное и прекрасное!"</p>
			<a href="#" class="da-link">Прочитать всё</a>
			<div class="da-img"><img src="files/da/1.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Простое управление</h2>
			<p>Нет ничего проще, чем управлять. Сидишь себе в большом кожаном кресле смотришь в огромное окно на бесконечную даль. Смазливая секретарша старательно делает тебе ... кофе. А на все впоросы подчиненных бросаешь классическое "Не потерплю!". И все вертится само собой.</p>
			<a href="#" class="da-link">Прочитать всё</a>
			<div class="da-img"><img src="files/da/2.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Революция</h2>
			<p>Когда нудный проиводственный процесс проедает плешь до печенок, нужно просто устроить революцию. Заказчик будет гневно требовать исполнения сроков, а в ответ получает "А у нас революция! Вообще все может полететь к чертям!". Справедливый гнев заказчика тут же сменится тупым обалдением от постановки ответа на вопрос.</p>
			<a href="#" class="da-link">Прочитать всё</a>
			<div class="da-img"><img src="files/da/3.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Контроль качества</h2>
			<p>Качество можно конролировать как угодно и где угодно. Особенно хорош контроль качества на входе, ибо отсекает тонны г... , пардон, некачественного сырья для вашего замечательного продукта. Ну и на выходе надо качество контролировать - интерсно знать, на что будут жаловаться потребители.</p>
			<a href="#" class="da-link">Прочитать всё</a>
			<div class="da-img"><img src="files/da/4.png" alt="image01" /></div>
		</div>
		<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</nav>
	</div>
	<div class="wrapper">
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Новости</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Последние</span></a></li>
							<li><a data-elems="2" href=""><span>Топ</span></a></li>
						</ul>
					</div>
					<div data-elems="1" class="d active">
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d">
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						include "partials/b_item_elem.html"
						<div class="clear"></div>
					</div>
				</div>
				<div class="b_head_box">
					<div class="h bdt">
						<div class="title"><a href="">Игры</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Популярные</span></a></li>
							<li><a data-elems="2" href=""><span>ожидаемые</span></a></li>
						</ul>
					</div>
					<div data-elems="1" class="d b_games_box active">
						<div class="l">
							include "partials/b_big_game_elem.html"
						</div>
						<div class="r">
							include "partials/b_game_elem.html"
							include "partials/b_game_elem.html"
							include "partials/b_game_elem.html"
							include "partials/b_game_elem.html"
						</div>
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d b_games_box">
						<div class="l">
							include "partials/b_big_game_elem.html"
						</div>
						<div class="r">
							include "partials/b_game_elem.html"
							include "partials/b_game_elem.html"
							include "partials/b_game_elem.html"
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel423">
					<div class="h">
						<div class="title"><a href="">Блог</a></div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							<div class="clear"></div>
						</li>
						<li data-elems="2" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="b_head_box carusel423 black">
					<div class="h">
						<div class="title"><a href="">Видео</a></div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left_black"></i></a>
							<a href="" class="right"><i class="icon arrow_right_black"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_video_elem.html"
							include "partials/b_video_elem.html"
						</li>
					</ul>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Киберспорт</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Новости</span></a></li>
							<li><a data-elems="2" href=""><span>Турниры</span></a></li>
						</ul>
					</div>
					<div data-elems="1" class="d b_games_box active">
						<div class="l">
							include "partials/b_big_item_elem.html"
						</div>
						<div class="r">
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
						</div>
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d b_games_box">
						<div class="l">
							include "partials/b_big_item_elem.html"
						</div>
						<div class="r">
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
							include "partials/b_blog_elem1.html"
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel423">
					<div class="h">
						
					</div>
					<div class="d active">
						<div class="b_banner"><a href=""><img src="files/banner.png"></a></div>
						<div class="b_banner"><a href=""><img src="files/banner1.png"></a></div>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Кино</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Новинки</span></a></li>
							<li><a data-elems="2" href=""><span>Ожидаемые</span></a></li>
							<li>
								<a href=""><span>Год выпуска<i class="icon dstr"></i></span></a>
								<ul>
									<li><a href="">2012</a></li>
									<li><a href="">2013</a></li>
									<li><a href="">2014</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div data-elems="1" class="d b_film_carusel active">
						<ul class="wrap">
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
						</ul>
						<a href="" class="left"><i class="icon film_left"></i></a>
						<a href="" class="right"><i class="icon film_right"></i></a>
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d b_film_carusel">
						<ul class="wrap">
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
							include "partials/b_film_elem.html"
						</ul>
						<a href="" class="left"><i class="icon film_left"></i></a>
						<a href="" class="right"><i class="icon film_right"></i></a>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel423">
					<div class="h">
						<div class="title"><a href="">Картинки</a></div>
					</div>
					<div class="d b_gallery active">
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<a href=""><img src="files/gallery.png"></a>
						<div class="clear"></div>
						<button class="border">Смотреть картинки</button>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="box b_index">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Железо</a></div>
						<ul>
							<li><a data-elems="1" class="active" href=""><span>Новости</span></a></li>
							<li><a data-elems="2" href=""><span>Обзоры</span></a></li>
							<li><a data-elems="3" href=""><span>Рекомендации</span></a></li>
						</ul>
					</div>
					<div data-elems="1" class="d active">
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						<div class="clear"></div>
					</div>
					<div data-elems="2" class="d">
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						<div class="clear"></div>
					</div>
					<div data-elems="3" class="d">
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						include "partials/b_news_elem.html"
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Платформы</a></div>
						<ul>
							<li><a href=""><span>Посмотреть все</span></a></li>
						</ul>
					</div>
					<div class="d b_live active">
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						include "partials/b_blog_elem2.html"
						<!--<div class="clear"></div>-->
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner"><a href=""><img src="files/banner2.png"></a></div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"