include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Написать сообщение
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="d active">
						<article class="message">
							<div class="b_message_add">
								<div class="title">Написать сообщение</div>
								<input type="text" placeholder="Название сообщения">
								<textarea placeholder="Сообщение"></textarea>
								<button class="red">Отправить</button>
							</div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h">
						<div class="title">5 правил автора</div>
					</div>
					<div class="d b_rules active">
						<div class="e">
							<img src="files/5_1.png">
							<p>Публикация не должна нарушать <a href="">правила сайта</a></p>
						</div>
						<div class="e">
							<img src="files/5_2.png">
							<p>Старайтесь оформлять публикации так, чтобы их было удобно читать</p>
						</div>
						<div class="e">
							<img src="files/5_3.png">
							<p>Для рекламных публикаций используйте хаб <a href="">«Я пиарюсь»</a></p>
						</div>
						<div class="e">
							<img src="files/5_4.png">
							<p>Загружайте изображения на <a href="">habrastorage.org</a></p>
						</div>
						<div class="e">
							<img src="files/5_5.png">
							<p>Не вставляйте больше (> 1Мб) изображения до ката</p>
						</div>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"