include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Новости
		</div>
		<div class="box b_inner_tree">
			<aside>
				<div class="b_head_box b_tags">
					<div class="h">
						<div class="title">Категории</div>
					</div>
					<div class="d active">
						<ul>
							<li>
								<a href="">Games <span>(3)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">News <span>(4)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">Hardware news <span>(5)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
							<li>
								<a href="">GameTrailers <span>(6)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a><span class="sub">+</span></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a><span class="sub">+</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="b_head_box">
					<div class="h bdt">
						<div class="title"><a href="">Топ платформы</a></div>
					</div>
					<div class="d active">
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
					</div>
				</div>
				<div class="clear"></div>
				<div class="b_head_box">
					<div class="h bdt">
						<div class="title">Топ кино</div>
					</div>
					<div class="d active">
						include "partials/b_film_elem1.html"
						include "partials/b_film_elem1.html"
						include "partials/b_film_elem1.html"
					</div>
				</div>
			</aside>
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">Новости</div>
					</div>
					<div class="d active">
						<article class="news">
							include "partials/b_news_big.html"
							include "partials/b_news_big.html"
							include "partials/b_news_big.html"
							include "partials/b_news_big.html"
							include "partials/b_news_big.html"
							include "partials/b_paginator.html"
							<div class="clear"></div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h">
						<div class="title"><a href="">Топ новости</a></div>
					</div>
					<div class="d active">
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
						include "partials/b_blog_elem4.html"
					</div>
				</div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
			</aside>
			<div class="clear"></div>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"