include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Профиль
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">Мои настройки</div>
					</div>
					<div class="d active">
						<article class="profile">
							<h4><i class="icon profile"></i>Обновить профиль</h4>
							<div class="b_fieldset">
								<div class="title">Ваши личные данные</div>
								<div class="i">
									<div class="l">
										<div class="field"><input type="text" placeholder="Введите ваше реальное имя"></div>
										<div class="field"><input type="text" placeholder="Местоположение"></div>
										<div class="field"><textarea placeholder="Ваши интересы"></textarea></div>
										<div class="field"><button class="red1">Сохранить</button></div>
									</div>
									<div class="r">
										<div class="field"><input type="text" placeholder="Дата рождения"></div>
										<div class="field">
											<select>
												<option value="">Не скажу</option>
												<option value="">Опция 1</option>
											</select>
										</div>
										<div class="field"><textarea placeholder="Коротко расскажите о себе"></textarea></div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="b_fieldset">
								<div class="title">Сменить пароль</div>
								<div class="i">
									<div class="l">
										<div class="field"><input type="text" placeholder="Старый пароль"></div>
										<div class="field"><input type="text" placeholder="Новый пароль"></div>
										<div class="field"><input type="text" placeholder="Новый пароль ещё раз"></div>
										<div class="field"><button class="red">Сменить пароль</button></div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="b_fieldset">
								<div class="title">Сменить аватар</div>
								<div class="i">
									include "partials/b_change_avatar.html"
								</div>
							</div>
							<div class="b_fieldset">
								<div class="title">Сменить картинку</div>
								<div class="i">
									include "partials/b_change_avatar.html"
								</div>
							</div>
							<div class="b_fieldset">
								<div class="title">Ключница</div>
								<div class="i">
									include "partials/b_keys.html"
								</div>
							</div>
							<div class="b_fieldset">
								<div class="title">Социальные сети</div>
								<div class="i">
									<form class="social_form" action="">
										include "partials/b_add_social.html"
									</form>
									<div class="to_copy">
										include "partials/b_add_social.html"
									</div>
									<div class="field"><button class="red1 add_social_button">Добавить</button></div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h">
						<div class="title">5 правил автора</div>
					</div>
					<div class="d b_rules active">
						<div class="e">
							<img src="files/5_1.png">
							<p>Публикация не должна нарушать <a href="">правила сайта</a></p>
						</div>
						<div class="e">
							<img src="files/5_2.png">
							<p>Старайтесь оформлять публикации так, чтобы их было удобно читать</p>
						</div>
						<div class="e">
							<img src="files/5_3.png">
							<p>Для рекламных публикаций используйте хаб <a href="">«Я пиарюсь»</a></p>
						</div>
						<div class="e">
							<img src="files/5_4.png">
							<p>Загружайте изображения на <a href="">habrastorage.org</a></p>
						</div>
						<div class="e">
							<img src="files/5_5.png">
							<p>Не вставляйте больше (> 1Мб) изображения до ката</p>
						</div>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"