include "partials/head_p.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Регистрация
		</div>
		<div class="popup" data-role="popup_window">
			<div class="title">Регистрация</div>
			<div class="already">
				Уже зарегистрированы? <button data-role="popup_open" data-target="#login" class="red">Войти</button>
			</div>
			<div class="left">
				<div class="field">
					<input type="text" placeholder="Никнейм">
				</div>
				<div class="field">
					<input type="text" placeholder="E-mail">
				</div>
				<div class="field">
					<input type="text" placeholder="E-mail ещё раз">
				</div>
				<div class="field">
					<input type="text" placeholder="Пароль">
				</div>
				<div class="field">
					<input type="text" placeholder="Пароль ещё раз">
				</div>
				<div class="field">
					<label><input type="checkbox">Принять условия <a href="">лицензионного соглашения</a></label>
				</div>
				<div class="field">
					<button class="red">Зарегистрироваться</button>
				</div>
			</div>
			<div class="right">
				<div class="box">
					<div class="h">Войти через социальные сети</div>
					<div class="d">
						<a href=""><i class="icon s1"></i></a>
						<a href=""><i class="icon s2"></i></a>
						<a href=""><i class="icon s3"></i></a>
						<a href=""><i class="icon s4"></i></a>
						<a href=""><i class="icon s5"></i></a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"