include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Результат поиска
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">Результат поиска</div>
					</div>
					<div class="d active">
						<article class="search">
							include "partials/b_search_form.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							include "partials/b_search_elem.html"
							<div class="clear"></div>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box">
					<div class="h">
						<div class="title">5 правил автора</div>
					</div>
					<div class="d b_rules active">
						<div class="e">
							<img src="files/5_1.png">
							<p>Публикация не должна нарушать <a href="">правила сайта</a></p>
						</div>
						<div class="e">
							<img src="files/5_2.png">
							<p>Старайтесь оформлять публикации так, чтобы их было удобно читать</p>
						</div>
						<div class="e">
							<img src="files/5_3.png">
							<p>Для рекламных публикаций используйте хаб <a href="">«Я пиарюсь»</a></p>
						</div>
						<div class="e">
							<img src="files/5_4.png">
							<p>Загружайте изображения на <a href="">habrastorage.org</a></p>
						</div>
						<div class="e">
							<img src="files/5_5.png">
							<p>Не вставляйте больше (> 1Мб) изображения до ката</p>
						</div>
					</div>
				</div>
				<div class="b_head_box black b_tags">
					<div class="h bdt">
						<div class="title">10 топ тегов за день</div>
					</div>
					<div class="d active">
						<ul>
							<li>
								<a href="">Games <span>(3)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">News <span>(4)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">Hardware news <span>(5)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">GameTrailers <span>(6)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
				<div class="b_banner"><a href=""><img src="files/banner3.png"></a></div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"