include "partials/head.html"
include "partials/header_auth.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Профиль
		</div>
		<div class="box b_user_page">
			<div class="stats">
				<a href=""><i class="icon mail_red"></i>2</a>
				<a href=""><i class="icon money"></i>3000</a>
				<a href=""><i class="icon up"></i>23</a>
				<a href=""><i class="icon down"></i>2</a>
				<a href="">Рейтинг <i>12</i></a>
				<a href="" class="right"><i>12</i> Подписан</a>
				<a href="" class="right"><i>23</i> Подписчика</a>
			</div>
			<aside>
				<div class="image">
					<div class="t">заходил вчера</div>
					<div class="b">
						<img src="files/ava2.png">
						<div class="name">Олег Скорлупка</div>
						<button class="red" data-toggle-class="gray" data-toggle-text="Отписаться">Подписаться</button>
						<button class="red" data-toggle-class="gray" data-toggle-text="Удалить из друзей">Добавить в друзья</button>
						<button class="red">Написать сообщение</button>
					</div>
				</div>
				<div class="b_head_box black">
					<div class="h">
						<div class="title">Информация</div>
					</div>
					<div class="d b_info active">
						<p><i class="icon location"></i>Одесса</p>
						<p><i class="icon birthday"></i>15 мая</p>
						<p><i class="icon so1"></i><a href="">vk.com/skorlupka</a></p>
						<p><i class="icon so2"></i><a href="">fb.com/skorlupka</a></p>
						<p><i class="icon so3"></i><a href="">twitter.com/skorlupka</a></p>
						<p><i class="icon so4"></i><a href="">ok.com/skorlupka</a></p>
						<p><i class="icon so5"></i><a href="">google.com/skorlupka</a></p>
						<p class="other"><a href="">Подробнее</a></p>
					</div>
				</div>
				<div class="b_head_box black">
					<div class="h">
						<div class="title">Интересы</div>
					</div>
					<div class="d b_inter active">
						<a href="">Dota</a>
						<a href="">Hearthstone</a>
						<a href="">WoT</a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="b_head_box black">
					<div class="h">
						<div class="title">Друзья</div>
					</div>
					<div class="d b_info active">
						<p><a href="">Валентина Герасимовна</a></p>
						<p><a href="">Иван Курдяш</a></p>
						<p><a href="">Фёдор Рыбкин</a></p>
					</div>
				</div>
				<div class="b_head_box black">
					<div class="h">
						<div class="title">Посты</div>
					</div>
					<div class="d b_info active">
						<p><a href="">Встречайте, IntelliJ IDEA 14 уже здесь</a></p>
						<p><a href="">Подводная укладка кабелей. Как это делается</a></p>
						<p><a href="">Mozilla выпустила первый браузер для разработчиков </a></p>
					</div>
				</div>
			</aside>
			<div class="left">
				<div class="image">
					<img src="files/carusel.jpg">
					<div class="b">
						<a href=""><span>302</span>записей</a>
						<a href=""><span>15</span>друзей</a>
						<a href=""><span>120</span>постов</a>
					</div>
				</div>
				<div class="b_head_box b_posts">
					<div class="h">
						<div class="title">
							<a data-target="1" class="active" href="">Новости</a>
							<a data-target="2" href="">Категория 1</a>
							<a data-target="3" href="">Категория 2</a>
							<a data-target="4" href="">Категория 3</a>
						</div>
					</div>
					<div data-id="1" class="d b_opinions active">
						<div class="b_comment">
							<div class="image">
								<img src="files/ava.png">
								<i class="icon prem_l"></i>
							</div>
							<div class="i">
								<div class="b_stats">
									<a href="" class="user">Inna</a>
									<span class="time"><i class="icon time"></i>8 sep, 2014</span>
									<a href=""><i class="icon up"></i>23</a>
									<a href=""><i class="icon down"></i>2</a>
								</div>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<div class="social">
									<a class="c1" href=""><i class="icon so1"></i></a>
									<a class="c2" href=""><i class="icon so2"></i></a>
									<a class="c3" href=""><i class="icon so3"></i></a>
									<a class="c4" href=""><i class="icon so4"></i></a>
									<a class="c5" href=""><i class="icon so5"></i></a>
								</div>
								<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
							</div>
						</div>
						<div class="b_comment">
							<div class="image">
								<img src="files/ava.png">
								<i class="icon prem_ll"></i>
							</div>
							<div class="i">
								<div class="b_stats">
									<a href="" class="user">Inna</a>
									<span class="time"><i class="icon time"></i>8 sep, 2014</span>
									<a href=""><i class="icon up"></i>23</a>
									<a href=""><i class="icon down"></i>2</a>
								</div>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<div class="social">
									<a class="c1" href=""><i class="icon so1"></i></a>
									<a class="c2" href=""><i class="icon so2"></i></a>
									<a class="c3" href=""><i class="icon so3"></i></a>
									<a class="c4" href=""><i class="icon so4"></i></a>
									<a class="c5" href=""><i class="icon so5"></i></a>
								</div>
								<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
							</div>
						</div>
					</div>
					<div data-id="2" class="d b_opinions">
						<div class="b_comment">
							<div class="image">
								<img src="files/ava.png">
							</div>
							<div class="i">
								<div class="b_stats">
									<a href="" class="user">Inna</a>
									<span class="time"><i class="icon time"></i>8 sep, 2014</span>
									<a href=""><i class="icon up"></i>23</a>
									<a href=""><i class="icon down"></i>2</a>
								</div>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<div class="social">
									<a class="c1" href=""><i class="icon so1"></i></a>
									<a class="c2" href=""><i class="icon so2"></i></a>
									<a class="c3" href=""><i class="icon so3"></i></a>
									<a class="c4" href=""><i class="icon so4"></i></a>
									<a class="c5" href=""><i class="icon so5"></i></a>
								</div>
								<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
							</div>
						</div>
					</div>
					<div data-id="3" class="d b_opinions">
						<div class="b_comment">
							<div class="image">
								<img src="files/ava.png">
							</div>
							<div class="i">
								<div class="b_stats">
									<a href="" class="user">Inna</a>
									<span class="time"><i class="icon time"></i>8 sep, 2014</span>
									<a href=""><i class="icon up"></i>23</a>
									<a href=""><i class="icon down"></i>2</a>
								</div>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<div class="social">
									<a class="c1" href=""><i class="icon so1"></i></a>
									<a class="c2" href=""><i class="icon so2"></i></a>
									<a class="c3" href=""><i class="icon so3"></i></a>
									<a class="c4" href=""><i class="icon so4"></i></a>
									<a class="c5" href=""><i class="icon so5"></i></a>
								</div>
								<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
							</div>
						</div>
					</div>
					<div data-id="4" class="d b_opinions">
						<div class="b_comment">
							<div class="image">
								<img src="files/ava.png">
							</div>
							<div class="i">
								<div class="b_stats">
									<a href="" class="user">Inna</a>
									<span class="time"><i class="icon time"></i>8 sep, 2014</span>
									<a href=""><i class="icon up"></i>23</a>
									<a href=""><i class="icon down"></i>2</a>
								</div>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<p>Nam semper lobortis dolor at pretium. Cras eleifend consequat iaculis. Proin nec vulputate nunc, sed posuere turpis. Aenean at quam est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
								<div class="social">
									<a class="c1" href=""><i class="icon so1"></i></a>
									<a class="c2" href=""><i class="icon so2"></i></a>
									<a class="c3" href=""><i class="icon so3"></i></a>
									<a class="c4" href=""><i class="icon so4"></i></a>
									<a class="c5" href=""><i class="icon so5"></i></a>
								</div>
								<div class="b_tag"><i class="icon tag"></i><a href="">Киберспорт</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"