include "partials/head.html"
include "partials/header.html"
<section>
	<div class="wrapper">
		<div class="b_bread">
			<a href="">Главная</a> <span>></span> Написать пост
		</div>
		<div class="box b_inner">
			<div class="left">
				<div class="b_head_box">
					<div class="h">
						<div class="title">Написать пост</div>
					</div>
					<div class="d active">
						<article class="write">
							<form action="">
								<div class="btns">
									<button class="red big"><i class="icon write"></i>Написать пост</button>
									<button class="gray big"><i class="icon i4e"></i>Черновик (0)</button>
								</div>
								<div class="field load">
									<div class="images">
										<div class="image">
											<a href=""><i class="icon remove1"></i></a>
											<a href=""><i class="icon copy"></i></a>
											<img src="files/game2.png">
										</div>
										<div class="image">
											<a href=""><i class="icon remove1"></i></a>
											<a href=""><i class="icon copy"></i></a>
											<img src="files/game2.png">
										</div>
									</div>
									<button class="gray"><input type="file">Выбрать файл</button>
									<button class="red">Загрузить</button>
								</div>
								<div class="field">
									<select>
										<option value="">Ruby</option>
										<option value="">HTML</option>
									</select>
								</div>
								<div class="field"><input type="text" placeholder="Заголовок"></div>
								<div class="field"><textarea placeholder="Текст поста"></textarea></div>
								<div class="field"><input type="text" placeholder="Теги"></div>
								<div class="btns">
									<button class="red">Опубликовать</button>
									<button class="gray">Черновик (0)</button>
								</div>
							</form>
						</article>
					</div>
				</div>
			</div>
			<aside>
				<div class="b_head_box carusel239">
					<div class="h">
						<div class="title">Топ блоги</div>
						<div class="arrows">
							<a href="" class="left"><i class="icon arrow_left"></i></a>
							<a href="" class="right"><i class="icon arrow_right"></i></a>
						</div>
					</div>
					<ul class="dts">
						<li data-elems="1" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
						</li>
						<li data-elems="2" class="d">
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
							include "partials/b_blog_elem.html"
						</li>
					</ul>
				</div>
				<div class="b_head_box black b_tags">
					<div class="h bdt">
						<div class="title">10 топ тегов за день</div>
					</div>
					<div class="d active">
						<ul>
							<li>
								<a href="">Games <span>(3)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">News <span>(4)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">Hardware news <span>(5)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
							<li>
								<a href="">GameTrailers <span>(6)</span></a>
								<ul>
									<li><a href=""><i class="icon dot"></i>Категория 1</a></li>
									<li><a href=""><i class="icon dot"></i>Категория 2</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</aside>
			<div class="clear"></div>
		</div>
		<div class="b_banner_double">
			<a class="left" href=""><img src="files/banner5.png"></a>
			<a class="right" href=""><img src="files/banner5.png"></a>
		</div>
	</div>
</section>
include "partials/footer.html"
include "partials/foot.html"